In [2]:
import pandas as pd
from math import isnan

In [3]:
df = pd.read_csv('data_CROUS/data/Regroupements_plats-version-article2022.csv')
print(df)

    Unnamed: 0                        Plat     Regroupement  \
0      Entrées  Choux blanc à la japonaise         Crudités
1          NaN              salade de chou         Crudités
2          NaN                  Chou blanc         Crudités
3          NaN                        Chou         Crudités
4          NaN            Salade lentilles         Crudités
..         ...                         ...              ...
114        NaN                  Cantal AOP          Fromage
115        NaN                      Mousse    Crème dessert
116        NaN                    Liégeois    Crème dessert
117        NaN           Yaourt nature Bio  Produit laitier
118        NaN               Yaourt nature  Produit laitier

      appellation article
0    raw vegetable salads
1    raw vegetable salads
2    raw vegetable salads
3    raw vegetable salads
4    raw vegetable salads
..                    ...
114                Cheese
115           Dairy cream
116           Dairy cream
117                  Fish
118                  Fish

[119 rows x 4 columns]

In [4]:
df.rename(columns={'Unnamed: 0':'Catégorie'}, inplace=True)
print(df)

    Catégorie                        Plat     Regroupement  \
0     Entrées  Choux blanc à la japonaise         Crudités
1         NaN              salade de chou         Crudités
2         NaN                  Chou blanc         Crudités
3         NaN                        Chou         Crudités
4         NaN            Salade lentilles         Crudités
..        ...                         ...              ...
114       NaN                  Cantal AOP          Fromage
115       NaN                      Mousse    Crème dessert
116       NaN                    Liégeois    Crème dessert
117       NaN           Yaourt nature Bio  Produit laitier
118       NaN               Yaourt nature  Produit laitier

      appellation article
0    raw vegetable salads
1    raw vegetable salads
2    raw vegetable salads
3    raw vegetable salads
4    raw vegetable salads
..                    ...
114                Cheese
115           Dairy cream
116           Dairy cream
117                  Fish
118                  Fish

[119 rows x 4 columns]

In [5]:
not_nan_cat = df[df['Catégorie'].notnull()]
id_cat = not_nan_cat.index
print(id_cat)
#Int64Index([0, 33, 74], dtype='int64')

Int64Index([0, 33, 74], dtype='int64')

In [6]:
print(df['Catégorie'].iloc[33])
print(df['Catégorie'].iloc[34])

Plats principaux
nan

In [7]:
for k in range(33):
    df['Catégorie'].iloc[k] = df['Catégorie'].iloc[0]
for k in range(34, 74):
    df['Catégorie'].iloc[k] = df['Catégorie'].iloc[33]
for k in range(75, 119):
    df['Catégorie'].iloc[k] = df['Catégorie'].iloc[74]

print(df['Catégorie'])

0       Entrées
1       Entrées
2       Entrées
3       Entrées
4       Entrées
         ...
114    Desserts
115    Desserts
116    Desserts
117    Desserts
118    Desserts
Name: Catégorie, Length: 119, dtype: object

In [8]:
print(df)

    Catégorie                        Plat     Regroupement  \
0     Entrées  Choux blanc à la japonaise         Crudités
1     Entrées              salade de chou         Crudités
2     Entrées                  Chou blanc         Crudités
3     Entrées                        Chou         Crudités
4     Entrées            Salade lentilles         Crudités
..        ...                         ...              ...
114  Desserts                  Cantal AOP          Fromage
115  Desserts                      Mousse    Crème dessert
116  Desserts                    Liégeois    Crème dessert
117  Desserts           Yaourt nature Bio  Produit laitier
118  Desserts               Yaourt nature  Produit laitier

      appellation article
0    raw vegetable salads
1    raw vegetable salads
2    raw vegetable salads
3    raw vegetable salads
4    raw vegetable salads
..                    ...
114                Cheese
115           Dairy cream
116           Dairy cream
117                  Fish
118                  Fish

[119 rows x 4 columns]

In [9]:
import os
filepath = 'data_CROUS/data/Regroupements_plats-version-article2022_clean.csv'
df.to_csv(filepath, index=False)