### I/ Mise en forme des données pour le modèle 

Dans un premier temps on veut modifier le fichier merged pour avoir un nouveau fichier qui pour chaque individu, associe les plateaux de ses amis (+les infos de son formulaires ? + les infos de ses amis )

In [51]:
#import des librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 

os.getcwd()
folder_in = "../data_CROUS/data_processed/merged_one_hot/"
folder_out = ""

In [52]:
#chargement des données
dfmerged = pd.read_csv(folder_in + "merged_Forms_Choix.csv", sep=',', encoding='latin-1')
dfchoix = pd.read_csv(folder_in + "Merged_Choix.csv", sep=',', encoding='latin-1')
dfmerged

,Unnamed: 0,index,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,...,parisbrest,poire,pruneauxausirop,emmental,bleudauvergneaop,cremepraline,gateaudesemoule,cocktailfruitsexotiques,roquefort,cantalaop
0,0,0A2A,1,20,1.755,51.0,16.558307,3,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0A4U,1,19,1.780,59.0,18.621386,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0A8B,0,21,1.650,50.0,18.365473,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0B2M,1,18,1.780,65.0,20.515086,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0C8K,1,18,1.870,83.0,23.735308,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,327,9V8W,0,21,1.700,57.0,19.723183,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322,328,9W3C,1,18,1.750,55.0,17.959184,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
323,329,9W3F,1,32,1.820,79.0,23.849777,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324,330,9X1Z,0,22,1.680,56.0,19.841270,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
325,331,9Z3C,1,21,1.750,61.0,19.918367,2,1,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
dfchoix # on a pas le même nombre de ligne que dfmerged !

,Numéro de formulaire,chou,saladelentilles,champignons,carottesrapees,oeufmimosa,saladepates,artichauts,salami,coeursdepalmiers,...,parisbrest,poire,pruneauxausirop,emmental,bleudauvergneaop,cremepraline,gateaudesemoule,cocktailfruitsexotiques,roquefort,cantalaop
0,6P4Y,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2H8Z,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,8M4T,0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3G0E,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,8K6E,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,2D7O,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
433,8J2L,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
434,1L4G,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
435,1M2Q,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
436,254Q,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Empty DataFrame
Columns: [Numéro de formulaire , chou, saladelentilles, champignons, carottesrapees, oeufmimosa, saladepates, artichauts, salami, coeursdepalmiers, tomates, surimi, minisandwich, saladeriz, betterave, pate, rillettepoisson, saladepommesdeterre, torsades, feuilletesaumonoseille, boeufbourguignon, kebab, risottocourgettes, pizzaraclette, faux-filet, pizzamerguezpoivrons, hamburger, escalopeviennoise, brocolis, frites, ratatouille, filetdepoulet, tajinevege, pavedecabillaud, burgervege, pizza, pommesdeterrevapeur, juliennedelegumes, cordonbleu, boulettesviande, rotilegumestofu, pavedepoissonbordelaise, pizzakebab, entrecote, riz, rotidelegumestofu, poissonpane, spaghettis, mousselinedepotiron, légumes, yaourtauxfruits, oeufalaneige, faissellenature, yaourtnature, fromageblancfruitsrouges, banane, mimolette, flancchocolat, orange, pomme, kiwi, saladeverte, moussenoixdecoco, liegeois, compote, petitsuissenature, fromageblanc, madeleine, tarteauxfruits, yaourtauxfruitsenmorceaux, parisbrest, poire, pruneauxausirop, emmental, bleudauvergneaop, cremepraline, gateaudesemoule, cocktailfruitsexotiques, roquefort, cantalaop]
Index: []

[0 rows x 80 columns]

In [ ]:
#pour une ligne donnée, récupération des numéros de formulaires des amis dans le merged


#on créé un dataframe empty 
YX = pd.DataFrame(columns=dfchoix.columns)

for i in range(len(dfmerged)):
    #on prend la ieme ligne du merged
    ligne = dfmerged.iloc[i]
    num_form = ligne['Unnamed: 0']
    num_groupe = i+1
    Lamis = []
    yx = dfchoix[dfchoix['Numéro de formulaire '] == num_form]
    #on récupère les valeurs des colonnes dont le nom commencent par Ami
    for col in ligne.index:
        if col.startswith('Ami'):
            #on ne prend que les valeurs différentes de nan
            if type(ligne[col]) is str:
                Lamis.append(ligne[col])
    #on crée une matrice de choix concaténée avec les choix des amis 
    #comme on a moins de ligne dans le merged que dans le choix, on part du merged et ajoute les choix des amis
    for ami in Lamis:
        # on prend la ligne où le num_form est celui de l'ami
        choix_ami = dfchoix[dfchoix['Numéro de formulaire '] == ami]
        #soit on a une ligne pleine car le numero de formulaire a été trouvé
        #soit une ligne vide car il n'a pas été retrouvé
        #DANS LE CAS OÙ IL N'EST PAS TROUVÉ ON AJOUTE PAS LA LIGNE
        if choix_ami.shape[0] != 0:
            yx = pd.concat([yx, choix_ami], axis=0)
        yx['num_groupe'] = num_groupe
    #on ajoute la ligne au dataframe YX
    YX = pd.concat([YX, yx], axis=0)


YX

In [ ]:
npXY = YX.to_numpy()
#on enleve la premiere colonne
npXY = np.delete(npXY, 0, 1)
#pour chaque groupe la 1ère ligne c'est le y et les autres les x

npXY

c'est quoi le meilleur moyen de représenter la chose sachant qu'ils ont pas tous le même nombre d'ami et donc que X et de taille variable (mais la taille est quand même un multiple d'un nombre) ?
Solutions possibles 
- on complète pour qu'il y ai toujours 5 amis, en générant un ami moyen
- on complète avec des zeros 
- on garde des X de taille différents... et on fait quoi avec ??