# Preprocessing sur les données de Juin 

Ce notebook permet d'avoir une première vue sur les données, et de les préprocesser.

In [22]:
import pandas as pd 
import numpy as np

Regardons ce qu'il y a dans les fichiers de type "resultats choix"

In [23]:
df = pd.read_csv('data_CROUS/data/Resultats_choix_LieuDeVie_juin.csv', sep = ';', index_col=False, encoding='latin8', na_values=['NSPP', 'rien'])
print(df.columns)
print(df.shape)    
print(df.index)

Index(['Horodateur', 'Numero questionnaire', 'Plat 1', 'Plat 2', 'garniture',
       'Plat 3', 'Hors etudiant', 'Autre ', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Convive 1',
       'Convive 2', 'Convive 3', 'Convive 4', 'Convive 5', 'Convive 6',
       'Convive 7', 'Convive 8', 'Unnamed: 27'],
      dtype='object')
(121, 28)
RangeIndex(start=0, stop=121, step=1)

In [24]:
df

,Horodateur,Numero questionnaire,Plat 1,Plat 2,garniture,Plat 3,Hors etudiant,Autre,Heure départ,Genre,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,11:35:32,B23,oeuf mayo,Escalope de porc,pomme de terre,yaourt,NaN,NaN,12:06,Homme,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,11:36:00,B25,oeuf mayo,Escalope de porc,pomme de terre,tarte chocolat,NaN,NaN,12:06,Homme,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11:38:24,B19,oeuf mayo,Escalope de porc,pomme de terre,tarte chocolat,NaN,NaN,12:10,Homme,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,11:40:13,B20,oeuf mayo,Escalope de porc,pomme de terre,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11:40:42,B21,NaN,Escalope de porc,pomme de terre,NaN,NaN,NaN,12:10,Homme,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,12:54:51 PM,A02,NaN,gnocchis pesto (vege),NaN,fruit,NaN,NaN,13:33,Femme,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,12:55:22 PM,A04,NaN,Escalope de porc,pomme de terre,tarte chocolat,NaN,NaN,13:22,Homme,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
118,12:55:40 PM,A01,NaN,Escalope de porc,pomme de terre,NaN,NaN,NaN,13:33,Homme,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,12:57:05 PM,A10,NaN,NaN,NaN,NaN,Grillades,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,12:57:26 PM,A11,NaN,NaN,NaN,NaN,Grillades,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Regardons les tables précédantes pour uniformiser au maximum les colonnes.

In [25]:

df_0 = pd.read_csv('data_CROUS/data/Resultats_choix_21_octobre.csv', sep = ';', index_col=False)
print(df_0.columns) #Index(['Horodateur', 'Numéro de formulaire ', 'ENTREE','Prise en double de l'entrée ', 'PLAT ', 'DESSERT','Prise en double du dessert'],dtype='object')
print(df_0.shape)    
print(df_0.index)

Index(['Horodateur', 'Numéro de formulaire ', 'ENTREE',
       'Prise en double de l'entrée ', 'PLAT ', 'DESSERT',
       'Prise en double du dessert'],
      dtype='object')
(131, 7)
RangeIndex(start=0, stop=131, step=1)

## Plats

### Gestion des colonnes annexes

In [26]:
print(df['Hors etudiant'].unique())
print(df['Autre '].unique())
#print(df['Autre Ã©ventuellement'].unique())

[nan 'Grillades' 'Pizza']
[nan 'Part pizza en entree ' 'En plat : frites ' 'Pizza entree'
 'Burger et frites' '3 yaourts ']

In [27]:
df.loc[np.where(df['Hors etudiant'] == 'Pizza')[0],['Plat 2']] = 'Pizza'
print('Pizza OK')

df.loc[np.where(df['Hors etudiant'] == 'Grillades')[0],['Plat 2']] = 'Grillades'
print('Grillades OK')

#for autre in ['Burger', 'Frites salade', 'Burger frites', 'Burger frites ']:
#    df.loc[np.where(df['Autre Ã©ventuellement'] == autre)[0],['Plat 2']] = autre
#    print(autre, ' OK')

for autre in ['En plat : frites ', 'Burger et frites']:
    df.loc[np.where(df['Autre '] == autre)[0],['Plat 2']] = autre
    print(autre, ' OK')
    
for autre in ['Part pizza en entree ', 'Pizza entree']:
    df.loc[np.where(df['Autre '] == autre)[0],['Plat 1']] = autre
    print(autre, ' OK')
    
df.loc[np.where(df['Autre '] == '3 yaourts ')[0],['Plat 3']] = 'yaourt + yaourt + yaourt'
print('3 yaourts  OK')

Pizza OK
Grillades OK
En plat : frites   OK
Burger et frites  OK
Part pizza en entree   OK
Pizza entree  OK
3 yaourts  OK

### Mise en forme des noms des plats

Pour commencer, regardons un peu la distribution des différents plats qui ont été choisis.

In [28]:
# NB : 
# print(type(df['PLAT '])) # <class 'pandas.core.series.Series'> 
# print(type(df[['PLAT ']])) # <class 'pandas.core.frame.DataFrame'>

print(len(df['Plat 2'].unique())) # Combien de plats possibles ? --> 11 plats différents 
print(df['Plat 2'].value_counts()) # Quel sont-ils ? 
df['Plat 2'].unique()

8
Escalope de porc         53
tarte saumon             29
gnocchis pesto (vege)    18
Grillades                12
Pizza                     3
En plat : frites          1
Burger et frites          1
Name: Plat 2, dtype: int64

array(['Escalope de porc', 'Grillades', 'tarte saumon', nan,
       'En plat : frites ', 'Pizza', 'gnocchis pesto (vege)',
       'Burger et frites'], dtype=object)

On observe qu'une mise en forme va être nécéssaire. En effet, dans les fichier d'Octobre le plat est séparé en différents élements (viande, féculents, légumes).

In [29]:
#df['Plat 2'] = df['Plat 2'].replace('Chipo semoule', 'Chipo + semoule', regex = True)
#df['Plat 2'] = df['Plat 2'].replace('Cabillaud semoule', 'Cabillaud + semoule', regex = True)
#df['Plat 2'] = df['Plat 2'].replace('Burger frites', 'Burger + frites', regex = True)
#df['Plat 2'] = df['Plat 2'].replace('Burger frites ', 'Burger + frites', regex = True)
#df['Plat 2'] = df['Plat 2'].replace('Frites salade', 'Frites + salade', regex = True)

In [30]:
df['Plat 2'] = df['Plat 2'].replace('En plat : frites ', 'frites', regex = True)
df['Plat 2'] = df['Plat 2'].replace('Burger et frites', 'Burger + frites', regex = True)
df['Plat 2'] = df['Plat 2'].replace(['\(', '\)'], '', regex = True)

In [31]:
df['Plat 2'].unique()

array(['Escalope de porc', 'Grillades', 'tarte saumon', nan, 'frites',
       'Pizza', 'gnocchis pesto vege', 'Burger + frites'], dtype=object)

Pour le **fichier Lieu De Vie** (LDV) on a une colonne supplémentaire `garniture`.

In [32]:
df['garniture'].unique()

array(['pomme de terre', nan, 'Les 2', 'poelee meridionale'], dtype=object)

In [33]:
df['garniture'] = df['garniture'].replace('Les 2', 'pomme de terre + poelee meridionale', regex = True)

df['Plat 2'][df['garniture'].notna()] = df['Plat 2'][df['garniture'].notna()] + ' + ' + df['garniture'][df['garniture'].notna()]

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [34]:
df['Plat 2'].unique()

array(['Escalope de porc + pomme de terre', 'Grillades',
       'tarte saumon + pomme de terre',
       'tarte saumon + pomme de terre + poelee meridionale', nan,
       'Escalope de porc + pomme de terre + poelee meridionale', 'frites',
       'Pizza', 'Escalope de porc + poelee meridionale',
       'gnocchis pesto vege', 'gnocchis pesto vege + pomme de terre',
       'Escalope de porc', 'tarte saumon + poelee meridionale',
       'Burger + frites'], dtype=object)

Puis pour standardiser les données nous enlevons les espaces et les majuscules.

In [35]:
# Enlevons tous les espaces:
df['Plat 2'] = df['Plat 2'].replace(' ', '', regex = True)
print(df['Plat 2'])

# On obtient alors 
print(len(df['Plat 2'].unique())) # Combien de plats possibles ? --> 13 plats differents 
print(df['Plat 2'].value_counts()) # Quel sont-ils ? 

df['Plat 2'].unique()

0      Escalopedeporc+pommedeterre
1      Escalopedeporc+pommedeterre
2      Escalopedeporc+pommedeterre
3      Escalopedeporc+pommedeterre
4      Escalopedeporc+pommedeterre
                  ...
116              gnocchispestovege
117    Escalopedeporc+pommedeterre
118    Escalopedeporc+pommedeterre
119                      Grillades
120                      Grillades
Name: Plat 2, Length: 121, dtype: object
14
Escalopedeporc+pommedeterre                      34
tartesaumon+pommedeterre                         20
Escalopedeporc+pommedeterre+poeleemeridionale    17
gnocchispestovege                                16
Grillades                                        12
tartesaumon+pommedeterre+poeleemeridionale        8
Pizza                                             3
gnocchispestovege+pommedeterre                    2
frites                                            1
Escalopedeporc+poeleemeridionale                  1
Escalopedeporc                                    1
tartesaumon+poeleemeridionale                     1
Burger+frites                                     1
Name: Plat 2, dtype: int64

array(['Escalopedeporc+pommedeterre', 'Grillades',
       'tartesaumon+pommedeterre',
       'tartesaumon+pommedeterre+poeleemeridionale', nan,
       'Escalopedeporc+pommedeterre+poeleemeridionale', 'frites', 'Pizza',
       'Escalopedeporc+poeleemeridionale', 'gnocchispestovege',
       'gnocchispestovege+pommedeterre', 'Escalopedeporc',
       'tartesaumon+poeleemeridionale', 'Burger+frites'], dtype=object)

De plus, on observe qu'à cause d'un problème de casse, "FeuilletéSaumonoseille+Torsades+Poeléebrocolis " et "FeuilletéSaumonoseille+Torsades+PoeléeBrocolis" sont considérés comme 2 plats differents

In [36]:
# --> on enlève la casse 
df['Plat 2'] = df['Plat 2'].str.lower()
# On recommence et on obtient alors :
print(len(df['Plat 2'].unique())) 
print(df['Plat 2'].value_counts()) 
df['Plat 2'].unique()

14
escalopedeporc+pommedeterre                      34
tartesaumon+pommedeterre                         20
escalopedeporc+pommedeterre+poeleemeridionale    17
gnocchispestovege                                16
grillades                                        12
tartesaumon+pommedeterre+poeleemeridionale        8
pizza                                             3
gnocchispestovege+pommedeterre                    2
frites                                            1
escalopedeporc+poeleemeridionale                  1
escalopedeporc                                    1
tartesaumon+poeleemeridionale                     1
burger+frites                                     1
Name: Plat 2, dtype: int64

array(['escalopedeporc+pommedeterre', 'grillades',
       'tartesaumon+pommedeterre',
       'tartesaumon+pommedeterre+poeleemeridionale', nan,
       'escalopedeporc+pommedeterre+poeleemeridionale', 'frites', 'pizza',
       'escalopedeporc+poeleemeridionale', 'gnocchispestovege',
       'gnocchispestovege+pommedeterre', 'escalopedeporc',
       'tartesaumon+poeleemeridionale', 'burger+frites'], dtype=object)

Les lignes où il n'y a pratiquement que des valeurs anquantes sont à supprimer :

In [37]:
df.loc[np.where(df['Plat 2'].isnull())[0],:]

,Horodateur,Numero questionnaire,Plat 1,Plat 2,garniture,Plat 3,Hors etudiant,Autre,Heure départ,Genre,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
18,11:50:24,B11,oeuf mayo,NaN,NaN,NaN,NaN,NaN,12:03,Homme,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,12:35:09 PM,A62,betteraves pommes echalotes,NaN,NaN,NaN,NaN,NaN,12:48,Homme,...,6.0,A61,A60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,12:41:01 PM,A37,NaN,NaN,pomme de terre + poelee meridionale,fromage,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,12:49:36 PM,A19,NaN,NaN,pomme de terre,yaourt,NaN,NaN,13:26,Homme,...,5.0,A22,A17,A21,A15,A18,A14,A16,A20,A13

In [38]:
np.where(df['Plat 2'].isnull() * df['Genre'].isnull())[0]

array([79], dtype=int64)

In [39]:
df = df.drop(index = np.where(df['Plat 2'].isnull() * df['Genre'].isnull())[0])

In [40]:
df.reset_index(drop = True, inplace = True)
df.loc[np.where(df['Plat 2'].isnull())[0],:]

,Horodateur,Numero questionnaire,Plat 1,Plat 2,garniture,Plat 3,Hors etudiant,Autre,Heure départ,Genre,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
18,11:50:24,B11,oeuf mayo,NaN,NaN,NaN,NaN,NaN,12:03,Homme,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,12:35:09 PM,A62,betteraves pommes echalotes,NaN,NaN,NaN,NaN,NaN,12:48,Homme,...,6.0,A61,A60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,12:49:36 PM,A19,NaN,NaN,pomme de terre,yaourt,NaN,NaN,13:26,Homme,...,5.0,A22,A17,A21,A15,A18,A14,A16,A20,A13

## Entrées

Voyons maintenant pour la colonne "ENTREE"

In [41]:
print(len(df['Plat 1'].unique())) 
print(df['Plat 1'].value_counts()) 
df['Plat 1'].unique()

7
oeuf mayo                      13
betteraves pommes echalotes     9
salade pomme de terre           6
Tomates                         5
Part pizza en entree            1
Pizza entree                    1
Name: Plat 1, dtype: int64

array(['oeuf mayo', nan, 'betteraves pommes echalotes',
       'Part pizza en entree ', 'Tomates', 'Pizza entree',
       'salade pomme de terre'], dtype=object)

In [42]:
df['Plat 1'] = df['Plat 1'].replace('Part pizza en entree ', 'pizzaentree', regex = True)
df['Plat 1'] = df['Plat 1'].replace('Pizza entree', 'pizzaentree', regex = True)
df['Plat 1'].unique()

array(['oeuf mayo', nan, 'betteraves pommes echalotes', 'pizzaentree',
       'Tomates', 'salade pomme de terre'], dtype=object)

Pas d'erreurs en particulier...  
Nous allons tout de même suppprimer les espaces et mettre en lower case pour standaradiser avec les autres fichiers.

In [43]:
# Enlevons tous les espaces et les apostrophes 
df['Plat 1'] = df['Plat 1'].replace(' ', '', regex = True)
df['Plat 1'] = df['Plat 1'].replace("'", '', regex = True)
# --> on enlève la casse 
df['Plat 1'] = df['Plat 1'].str.lower()
print(len(df['Plat 1'].unique())) 
print(df['Plat 1'].value_counts())

6
oeufmayo                     13
betteravespommesechalotes     9
saladepommedeterre            6
tomates                       5
pizzaentree                   2
Name: Plat 1, dtype: int64

## Desserts

Voyons maintenant pour la colonne 'DESSERTS'

In [44]:
print(len(df['Plat 3'].unique())) 
print(df['Plat 3'].value_counts())

8
yaourt                      33
tarte chocolat              22
fruit                       18
peche au sirop               5
fromage                      3
Madeleine                    2
yaourt + yaourt + yaourt     1
Name: Plat 3, dtype: int64

In [45]:
# Enlevons tous les espaces et les apostrophes 
df['Plat 3'] = df['Plat 3'].replace(' ', '', regex = True)
df['Plat 3'] = df['Plat 3'].replace("'", '', regex = True)

df['Plat 3'] = df['Plat 3'].replace("\/", '', regex = True)
# --> on enlève la casse 
df['Plat 3'] = df['Plat 3'].str.lower()

On y voit plus clair --> S'il y a des erreurs de frappes / d'enregistrements, on sera plus à meme de le voir.

In [46]:
print(len(df['Plat 3'].unique())) 
print(df['Plat 3'].value_counts())

8
yaourt                  33
tartechocolat           22
fruit                   18
pecheausirop             5
fromage                  3
madeleine                2
yaourt+yaourt+yaourt     1
Name: Plat 3, dtype: int64

# Gestion des colonnes

Des horaires sont écrits dans la colonne Autre pour fichier **ENS**.

In [51]:
#HD = df.loc[np.where(df['Autre Ã©ventuellement'].notna())[0],['Heure départ', 'Autre Ã©ventuellement']]
#AE = df.loc[np.where(df['Autre Ã©ventuellement'].notna())[0],['Heure départ']]
#HD
df['Autre '].unique()

array([nan, 'Part pizza en entree ', 'En plat : frites ', 'Pizza entree',
       'Burger et frites', '3 yaourts '], dtype=object)

In [52]:
df = df.drop('Hors etudiant', axis=1)
#df = df.drop('Autre Ã©ventuellement', axis=1)
df = df.drop('Autre ', axis=1)
df = df.drop('garniture', axis=1)
print(df.columns)

Index(['Horodateur', 'Numero questionnaire', 'Plat 1', 'Plat 2', 'Plat 3',
       'Heure départ', 'Genre', 'Regime', 'Fréquentation', 'Faim',
       'Connaissances', 'Influence', 'Influence aspect', 'Quantité',
       'Equilibré', 'Aspect', 'Convive 1', 'Convive 2', 'Convive 3',
       'Convive 4', 'Convive 5', 'Convive 6', 'Convive 7', 'Convive 8',
       'Unnamed: 27'],
      dtype='object')

In [53]:
#Index(['Horodateur', 'Numéro de formulaire', 'ENTREE', 'PLAT ', 'DESSERT'], dtype='object')
df.columns = ['Horodateur', 'Numéro de formulaire', 'ENTREE', 'PLAT ', 'DESSERT',
       'Heure départ', 'Genre', 'Regime', 'Fréquentation', 'Faim',
       'Connaissances', 'Influence', 'Influence aspect', 'Quantité',
       'Equilibré', 'Aspect', 'Convive 1', 'Convive 2', 'Convive 3',
       'Convive 4', 'Convive 5', 'Convive 6', 'Convive 7', 'Convive 8',
       'Unnamed: 27']
df

,Horodateur,Numéro de formulaire,ENTREE,PLAT,DESSERT,Heure départ,Genre,Regime,Fréquentation,Faim,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,11:35:32,B23,oeufmayo,escalopedeporc+pommedeterre,yaourt,12:06,Homme,non,>3,10.0,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,11:36:00,B25,oeufmayo,escalopedeporc+pommedeterre,tartechocolat,12:06,Homme,non,>3,10.0,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11:38:24,B19,oeufmayo,escalopedeporc+pommedeterre,tartechocolat,12:10,Homme,non,>3,7.0,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,11:40:13,B20,oeufmayo,escalopedeporc+pommedeterre,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11:40:42,B21,NaN,escalopedeporc+pommedeterre,NaN,12:10,Homme,non,1à3,6.0,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,12:54:51 PM,A02,NaN,gnocchispestovege,fruit,13:33,Femme,oui,>3,3.0,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,12:55:22 PM,A04,NaN,escalopedeporc+pommedeterre,tartechocolat,13:22,Homme,non,>3,7.0,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,12:55:40 PM,A01,NaN,escalopedeporc+pommedeterre,NaN,13:33,Homme,non,>3,7.0,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,12:57:05 PM,A10,NaN,grillades,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,12:57:26 PM,A11,NaN,grillades,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Sauvegarde

Le csv est préprocéssé, nous pouvons l'enregistrer.

In [54]:
df.to_csv("Resultats_choix_Juin_LDV_cleaned.csv", sep = ';')