# Split Columns données Juin (ENS)

## Importation des données

In [15]:
import numpy as np
import pandas as pd

In [16]:
filename = "Resultats_choix_Juin_LDV_cleaned.csv"
df = pd.read_csv(filename, sep=';')
#df = pd.read_csv(f'../../data_clean/{filename}_cleaned.csv', sep=';')
df

,Unnamed: 0,Horodateur,Numéro de formulaire,ENTREE,PLAT,DESSERT,Heure départ,Genre,Regime,Fréquentation,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,11:35:32,B23,oeufmayo,escalopedeporc+pommedeterre,yaourt,12:06,Homme,non,>3,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,11:36:00,B25,oeufmayo,escalopedeporc+pommedeterre,tartechocolat,12:06,Homme,non,>3,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,11:38:24,B19,oeufmayo,escalopedeporc+pommedeterre,tartechocolat,12:10,Homme,non,>3,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,11:40:13,B20,oeufmayo,escalopedeporc+pommedeterre,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,11:40:42,B21,NaN,escalopedeporc+pommedeterre,NaN,12:10,Homme,non,1à3,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,12:54:51 PM,A02,NaN,gnocchispestovege,fruit,13:33,Femme,oui,>3,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,12:55:22 PM,A04,NaN,escalopedeporc+pommedeterre,tartechocolat,13:22,Homme,non,>3,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,12:55:40 PM,A01,NaN,escalopedeporc+pommedeterre,NaN,13:33,Homme,non,>3,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,12:57:05 PM,A10,NaN,grillades,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,12:57:26 PM,A11,NaN,grillades,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
no_horo = False
if df.columns[1]=='Horodateur':
    horodateur = df.pop('Horodateur')
    no_horo = True

In [18]:
pd.DataFrame.pop

## Split

### Entrées

In [19]:
try:
    df[['ENTREE_1', 'ENTREE_2']] = df['ENTREE'].str.split('+', 1, expand=True)
    df.insert(2, 'ENTREE_1', df.pop('ENTREE_1'))
    df.insert(3, 'ENTREE_2', df.pop('ENTREE_2'))
    df.pop('ENTREE')
    split_entree = True
except ValueError as e:
    df['ENTREE_2'] = np.nan
    df.insert(2, 'ENTREE_1', df.pop('ENTREE'))
    df.insert(3, 'ENTREE_2', df.pop('ENTREE_2'))
    split_entree = False
df

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,PLAT,DESSERT,Heure départ,Genre,Regime,Fréquentation,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,B23,oeufmayo,NaN,escalopedeporc+pommedeterre,yaourt,12:06,Homme,non,>3,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,B25,oeufmayo,NaN,escalopedeporc+pommedeterre,tartechocolat,12:06,Homme,non,>3,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,B19,oeufmayo,NaN,escalopedeporc+pommedeterre,tartechocolat,12:10,Homme,non,>3,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,B20,oeufmayo,NaN,escalopedeporc+pommedeterre,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,B21,NaN,NaN,escalopedeporc+pommedeterre,NaN,12:10,Homme,non,1à3,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,A02,NaN,NaN,gnocchispestovege,fruit,13:33,Femme,oui,>3,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,A04,NaN,NaN,escalopedeporc+pommedeterre,tartechocolat,13:22,Homme,non,>3,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,A01,NaN,NaN,escalopedeporc+pommedeterre,NaN,13:33,Homme,non,>3,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,A10,NaN,NaN,grillades,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,A11,NaN,NaN,grillades,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
if split_entree:
    try:
        df[['ENTREE_2', 'ENTREE_3']] = df['ENTREE_2'].str.split('+', 1, expand=True)
        df.insert(3, 'ENTREE_2', df.pop('ENTREE_2'))
        df.insert(4, 'ENTREE_3', df.pop('ENTREE_3'))
    except ValueError as e:
        df['ENTREE_3'] = np.nan
        df.insert(4, 'ENTREE_3', df.pop('ENTREE_3'))
else:
    df['ENTREE_3'] = np.nan
    df.insert(4, 'ENTREE_3', df.pop('ENTREE_3'))
df

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT,DESSERT,Heure départ,Genre,Regime,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,B23,oeufmayo,NaN,NaN,escalopedeporc+pommedeterre,yaourt,12:06,Homme,non,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,B25,oeufmayo,NaN,NaN,escalopedeporc+pommedeterre,tartechocolat,12:06,Homme,non,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,B19,oeufmayo,NaN,NaN,escalopedeporc+pommedeterre,tartechocolat,12:10,Homme,non,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,B20,oeufmayo,NaN,NaN,escalopedeporc+pommedeterre,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,B21,NaN,NaN,NaN,escalopedeporc+pommedeterre,NaN,12:10,Homme,non,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,A02,NaN,NaN,NaN,gnocchispestovege,fruit,13:33,Femme,oui,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,A04,NaN,NaN,NaN,escalopedeporc+pommedeterre,tartechocolat,13:22,Homme,non,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,A01,NaN,NaN,NaN,escalopedeporc+pommedeterre,NaN,13:33,Homme,non,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,A10,NaN,NaN,NaN,grillades,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,A11,NaN,NaN,NaN,grillades,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Plats

In [21]:
df.columns

Index(['Unnamed: 0', 'Numéro de formulaire', 'ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT ', 'DESSERT', 'Heure départ', 'Genre', 'Regime',
       'Fréquentation', 'Faim', 'Connaissances', 'Influence',
       'Influence aspect', 'Quantité', 'Equilibré', 'Aspect', 'Convive 1',
       'Convive 2', 'Convive 3', 'Convive 4', 'Convive 5', 'Convive 6',
       'Convive 7', 'Convive 8', 'Unnamed: 27'],
      dtype='object')

In [22]:
try:
    df[['PLAT_1', 'PLAT_2']] = df['PLAT '].str.split('+', 1, expand=True)
    df.insert(6, 'PLAT_1', df.pop('PLAT_1'))
    df.insert(7, 'PLAT_2', df.pop('PLAT_2'))
    df.pop('PLAT ')
    split_plat = True
except ValueError as e:
    df['PLAT_2'] = np.nan
    df.insert(6, 'PLAT_1', df.pop('PLAT '))
    df.insert(7, 'PLAT_2', df.pop('PLAT_2'))
    split_plat = False
df

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,DESSERT,Heure départ,Genre,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,yaourt,12:06,Homme,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,tartechocolat,12:06,Homme,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,tartechocolat,12:10,Homme,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,B20,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,12:10,Homme,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,A02,NaN,NaN,NaN,gnocchispestovege,None,fruit,13:33,Femme,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,A04,NaN,NaN,NaN,escalopedeporc,pommedeterre,tartechocolat,13:22,Homme,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,A01,NaN,NaN,NaN,escalopedeporc,pommedeterre,NaN,13:33,Homme,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,A10,NaN,NaN,NaN,grillades,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,A11,NaN,NaN,NaN,grillades,None,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
if split_plat:
    try:
        df[['PLAT_2', 'PLAT_3']] = df['PLAT_2'].str.split('+', 1, expand=True)
        df.insert(6, 'PLAT_2', df.pop('PLAT_2'))
        df.insert(7, 'PLAT_3', df.pop('PLAT_3'))
    except ValueError as e:
        df['PLAT_3'] = np.nan
        df.insert(7, 'PLAT_3', df.pop('PLAT_3'))
else:
    df['PLAT_3'] = np.nan
    df.insert(7, 'PLAT_3', df.pop('PLAT_3'))
df

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT,Heure départ,...,Aspect,Convive 1,Convive 2,Convive 3,Convive 4,Convive 5,Convive 6,Convive 7,Convive 8,Unnamed: 27
0,0,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,yaourt,12:06,...,4.0,B25,B24,B19,NaN,NaN,NaN,NaN,NaN,NaN
1,1,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,12:06,...,10.0,B23,B24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,12:10,...,0.0,B23,B25,B24,NaN,NaN,NaN,NaN,NaN,NaN
3,3,B20,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,12:10,...,7.0,B20,B22,B24,B17,B18,B19,B23,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,115,A02,NaN,NaN,NaN,gnocchispestovege,None,None,fruit,13:33,...,6.0,A01,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,116,A04,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,13:22,...,4.0,A06,A07,A08,NaN,NaN,NaN,NaN,NaN,NaN
117,117,A01,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,13:33,...,5.0,A03,A03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118,A10,NaN,NaN,NaN,grillades,None,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,119,A11,NaN,NaN,NaN,grillades,None,None,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Desserts

In [24]:
try:
    df[['DESSERT_1', 'DESSERT_2',]] = df['DESSERT'].str.split('+', 1, expand=True)
    df.insert(8, 'DESSERT_1', df.pop('DESSERT_1'))
    df.insert(9, 'DESSERT_2', df.pop('DESSERT_2'))
    df.pop('DESSERT')
    split_dessert = True
except ValueError as e:
    df['DESSERT_2'] = np.nan
    df.insert(8, 'DESSERT_1', df.pop('DESSERT'))
    df.insert(9, 'DESSERT_2', df.pop('DESSERT_2'))
    split_dessert = False
df.iloc[:6,1:14]

,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,Heure départ,Genre,Regime,Fréquentation
0,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,yaourt,None,12:06,Homme,non,>3
1,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,12:06,Homme,non,>3
2,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,12:10,Homme,non,>3
3,B20,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,NaN,NaN,NaN,NaN,NaN
4,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,NaN,12:10,Homme,non,1à3
5,B15,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,12:10,Femme,non,>3

In [25]:
if split_dessert:
    try:
        df[['DESSERT_2', 'DESSERT_3']] = df['DESSERT_2'].str.split('+', 1, expand=True)
        df.insert(9, 'DESSERT_2', df.pop('DESSERT_2'))
        df.insert(10, 'DESSERT_3', df.pop('DESSERT_3'))
    except ValueError as e:
        df['DESSERT_3'] = np.nan
        df.insert(10, 'DESSERT_3', df.pop('DESSERT_3'))
else:
        df['DESSERT_3'] = np.nan
        df.insert(10, 'DESSERT_3', df.pop('DESSERT_3'))
df.iloc[:6,1:14]

,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,DESSERT_3,Heure départ,Genre,Regime
0,B23,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,yaourt,None,None,12:06,Homme,non
1,B25,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,None,12:06,Homme,non
2,B19,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,None,12:10,Homme,non
3,B20,oeufmayo,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,NaN,NaN,NaN,NaN,NaN
4,B21,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,NaN,NaN,NaN,12:10,Homme,non
5,B15,NaN,NaN,NaN,escalopedeporc,pommedeterre,None,tartechocolat,None,None,12:10,Femme,non

In [26]:
if no_horo :
    df.insert(1, 'Horodateur', horodateur)

## Sauvegarde

In [27]:
df.to_csv('Resultats_choix_Juin_LDV_split.csv', index=False, encoding="cp1252")
# encoding pour le OE majuscule