# Merging Juin (1 LDV, 1 ENS) and Octobre (2LDV et 2ENS regroupés)

In [394]:
import numpy as np
import pandas as pd
import os
import math

## Importation des données

In [395]:
octobre_all = pd.read_csv("merged_Forms_Choix.csv", sep=",", encoding='latin-1', decimal='.')
juin_ens = pd.read_csv("Forms-formatted_Choix-onehot_Juin_ENS.csv", sep=";", encoding='latin-1' )
juin_ldv = pd.read_csv("Forms-formatted_Choix-onehot_Juin_LDV.csv", sep=";", encoding='latin-1')

In [396]:
print(juin_ens.shape)
print(juin_ldv.shape)
print(octobre_all.shape)

(70, 62)
(104, 61)
(326, 119)

## Vérification des colonnes

In [397]:
print(juin_ens.columns[36:])
print(juin_ldv.columns[36:])
print(octobre_all.columns[36:])

Index(['Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'saladesoja',
       'carottes', 'saladeriz', 'saucisson', 'endives', 'sardines',
       'cabillaud', 'lasagnesvg', 'chipo', 'pizza', 'burger', 'semoule',
       'frites', 'fruit', 'yaourt', 'donut', 'crèmedessert', 'emmental',
       'tartefrboisesananas', 'moussechocolat', 'chaource'],
      dtype='object')
Index(['Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'oeufmayo',
       'betteravespommesechalotes', 'tomates', 'pizzaentree',
       'saladepommedeterre', 'escalopedeporc', 'grillades', 'tartesaumon',
       'frites', 'pizza', 'gnocchispestovege', 'burger', 'pommedeterre',
       'poeleemeridionale', 'yaourt', 'tartechocolat', 'fruit', 'madeleine',
       'fromage', 'pecheausirop'],
      dtype='object')
Index(['Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'chou',
       'saladelentilles', 'champignons', 'carottesrapees', 'oeufmimosa',
       'saladepates', 'artichauts', 'salami', 'coeursdepalmiers', 'tomates',
       'surimi', 'minisandwich', 'saladeriz', 'betterave', 'pâté',
       'rillettepoisson', 'saladepommesdeterre', 'torsades',
       'feuilletesaumonoseille', 'boeufbourguignon', 'kebab',
       'risottocourgettes', 'pizzaraclette', 'faux-filet',
       'pizzamerguezpoivrons', 'hamburger', 'escalopeviennoise', 'brocolis',
       'frites', 'ratatouille', 'filetdepoulet', 'tajinevege',
       'pavedecabillaud', 'burgervege', 'pizza', 'pommesdeterrevapeur',
       'juliennedelegumes', 'rotilegumestofu', 'saladeverte', 'cordonbleu',
       'boulettesviande', 'pavedepoissonbordelaise', 'pizzakebab', 'entrecote',
       'riz', 'poissonpane', 'spaghettis', 'mousselinedepotiron', 'legumes',
       'yaourtauxfruits', 'oeufalaneige', 'faissellenature', 'yaourtnature',
       'fromageblancfruitsrouges', 'banane', 'mimolette', 'flancchocolat',
       'orange', 'pomme', 'kiwi', 'moussenoixdecoco', 'liegeois', 'compote',
       'petitsuissenature', 'fromageblanc', 'madeleine', 'tarteauxfruits',
       'yaourtauxfruitsenmorceaux', 'parisbrest', 'poire', 'pruneauxausirop',
       'emmental', 'bleudauvergneaop', 'cremepraline', 'gateaudesemoule',
       'cocktailfruitsexotiques', 'roquefort', 'cantalaop'],
      dtype='object')

In [398]:
juin_ens.columns

Index(['Unnamed: 0', 'Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids',
       'IMC', 'Activité physique', 'Régime particulier', 'Végé',
       'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe',
       'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe',
       'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress',
       'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
       'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'saladesoja',
       'carottes', 'saladeriz', 'saucisson', 'endives', 'sardines',
       'cabillaud', 'lasagnesvg', 'chipo', 'pizza', 'burger', 'semoule',
       'frites', 'fruit', 'yaourt', 'donut', 'crèmedessert', 'emmental',
       'tartefrboisesananas', 'moussechocolat', 'chaource'],
      dtype='object')

In [399]:
juin_ens.columns= ['Unnamed: 0', 'Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids',
       'IMC', 'Activité physique', 'Régime particulier', 'Végé',
       'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe',
       'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe',
       'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress',
       'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
       'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'saladesoja',
       'carottesrapees', 'saladeriz', 'saucisson', 'endives', 'sardines',
       'pavedecabillaud', 'lasagnesvg', 'chipo', 'pizza', 'burger', 'semoule',
       'frites', 'fruit', 'yaourtnature', 'donut', 'crèmedessert', 'emmental',
       'tartefrboisesananas', 'moussechocolat', 'chaource']

juin_ldv.columns= ['Unnamed: 0', 'Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids',
       'IMC', 'Activité physique', 'Régime particulier', 'Végé',
       'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe',
       'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe',
       'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress',
       'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
       'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'Horodateur', 'oeufmimosa',
       'betterave', 'tomates', 'pizzaentree',
       'saladepommesdeterre', 'escalopedeporc', 'grillades', 'tartesaumon',
       'frites', 'pizza', 'gnocchispestovege', 'burger', 'pommesdeterrevapeur',
       'poeleemeridionale', 'yaourtnature', 'tartechocolat', 'fruit', 'madeleine',
       'fromage', 'pecheausirop']

Correction de répétitions restées dans **octobre_all**.

In [400]:
octobre_all['yaourtauxfruits'] = octobre_all['yaourtauxfruits'] + octobre_all['yaourtauxfruitsenmorceaux']
#octobre_all['rotilegumestofu'] = octobre_all['rotilegumestofu'] + octobre_all['rotidelegumestofu']
octobre_all =octobre_all.drop('yaourtauxfruitsenmorceaux', axis=1)
#octobre_all =octobre_all.drop('rotidelegumestofu', axis=1)

In [401]:
octobre_all['yaourtauxfruits'].unique()
#juin_ens['saladeriz'].unique()

array([1., 0.])

In [402]:
octobre_all.insert(0, 'Numéro de formulaire', octobre_all.pop('index'))

## Problème des Numéro de formulaires communs Juin ENS et LDV

In [403]:
print(juin_ens['Numéro de formulaire'].unique())
print(juin_ldv['Numéro de formulaire'].unique())

['C02' 'C19' 'C21' 'C17' 'C22' 'C25' 'C24' 'C29' 'C26' 'C30' 'C31' 'C32'
 'A03' 'A02' 'A01' 'A16' 'A17' 'A15' 'A22' 'A29' 'A24' 'A25' 'A28' 'A26'
 'A27' 'A34' 'A33' 'A32' 'A40' 'A42' 'A51' 'A46' 'A55' 'A74' 'A59' 'A49'
 'A73' 'A76' 'B28' 'B15' 'B40' 'B12' 'B18' 'B34' 'B45' 'B50' 'B51' 'B53'
 'B56' 'A62' 'A80' 'B81' 'A77' 'B04' 'A67' 'B02' 'B23' 'B19' 'B39' 'B11'
 'B27' 'B29' 'B54' 'B31' 'B67' 'B75' 'B74' 'B80' 'B76' 'B78']
['B23' 'B25' 'B19' 'B21' 'B15' 'B26' 'B17' 'B24' 'B28' 'B14' 'B27' 'B13'
 'B16' 'B22' 'B18' 'B12' 'B11' 'B08' 'B09' 'B07' 'B06' 'B01' 'B03' 'B04'
 'B05' 'A97' 'A96' 'A88' 'A95' 'A93' 'A98' 'A87' 'A86' 'A85' 'A90' 'A84'
 'A94' 'A83' 'A89' 'A82' 'A80' 'A91' 'A77' 'A78' 'A79' 'A76' 'A75' 'A72'
 'A73' 'A71' 'A74' 'A70' 'A67' 'A68' 'A69' 'A63' 'A64' 'A62' 'A66' 'A57'
 'A59' 'A61' 'A56' 'A50' 'A49' 'A42' 'A45' 'A41' 'A39' 'A38' 'A32' 'A43'
 'A34' 'A33' 'A31' 'A29' 'A28' 'A27' 'A60' 'A30' 'A26' 'A51' 'A48' 'A47'
 'A23' 'A22' 'A19' 'A17' 'A21' 'A18' 'A20' 'A15' 'A12' 'A14' 'A16' 'A09'
 'A13' 'A06' 'A03' 'A07' 'A02' 'A04' 'A01']

On remarque qu'ils sont numérotés de la même façon donc que 'B11' par exemple est dans les deux dataframes ce qu'on ne souhaite pas. Il faut donc corriger la colonne `Numéro de formulaire` mais aussi les colonnes `Ami`.

In [404]:
for col_num_form in ['Numéro de formulaire', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
       'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']:
    juin_ldv[col_num_form] = juin_ldv[col_num_form].replace(to_replace=r'^A', value='E', regex=True)
    juin_ldv[col_num_form] = juin_ldv[col_num_form].replace(to_replace=r'^B', value='F', regex=True)

In [405]:
print(juin_ens['Numéro de formulaire'].unique())
print(juin_ldv['Numéro de formulaire'].unique())

['C02' 'C19' 'C21' 'C17' 'C22' 'C25' 'C24' 'C29' 'C26' 'C30' 'C31' 'C32'
 'A03' 'A02' 'A01' 'A16' 'A17' 'A15' 'A22' 'A29' 'A24' 'A25' 'A28' 'A26'
 'A27' 'A34' 'A33' 'A32' 'A40' 'A42' 'A51' 'A46' 'A55' 'A74' 'A59' 'A49'
 'A73' 'A76' 'B28' 'B15' 'B40' 'B12' 'B18' 'B34' 'B45' 'B50' 'B51' 'B53'
 'B56' 'A62' 'A80' 'B81' 'A77' 'B04' 'A67' 'B02' 'B23' 'B19' 'B39' 'B11'
 'B27' 'B29' 'B54' 'B31' 'B67' 'B75' 'B74' 'B80' 'B76' 'B78']
['F23' 'F25' 'F19' 'F21' 'F15' 'F26' 'F17' 'F24' 'F28' 'F14' 'F27' 'F13'
 'F16' 'F22' 'F18' 'F12' 'F11' 'F08' 'F09' 'F07' 'F06' 'F01' 'F03' 'F04'
 'F05' 'E97' 'E96' 'E88' 'E95' 'E93' 'E98' 'E87' 'E86' 'E85' 'E90' 'E84'
 'E94' 'E83' 'E89' 'E82' 'E80' 'E91' 'E77' 'E78' 'E79' 'E76' 'E75' 'E72'
 'E73' 'E71' 'E74' 'E70' 'E67' 'E68' 'E69' 'E63' 'E64' 'E62' 'E66' 'E57'
 'E59' 'E61' 'E56' 'E50' 'E49' 'E42' 'E45' 'E41' 'E39' 'E38' 'E32' 'E43'
 'E34' 'E33' 'E31' 'E29' 'E28' 'E27' 'E60' 'E30' 'E26' 'E51' 'E48' 'E47'
 'E23' 'E22' 'E19' 'E17' 'E21' 'E18' 'E20' 'E15' 'E12' 'E14' 'E16' 'E09'
 'E13' 'E06' 'E03' 'E07' 'E02' 'E04' 'E01']

## Horodateur

In [406]:
print(juin_ldv['Horodateur'])
juin_ldv['Horodateur'] = juin_ldv['Horodateur'].replace(" PM", '', regex=True)
juin_ldv['Horodateur']

0         11:35:32
1         11:36:00
2         11:38:24
3         11:40:42
4         11:41:45
          ...
99     12:54:02 PM
100    12:54:31 PM
101    12:54:51 PM
102    12:55:22 PM
103    12:55:40 PM
Name: Horodateur, Length: 104, dtype: object

0      11:35:32
1      11:36:00
2      11:38:24
3      11:40:42
4      11:41:45
         ...
99     12:54:02
100    12:54:31
101    12:54:51
102    12:55:22
103    12:55:40
Name: Horodateur, Length: 104, dtype: object

## Preparation du merged

In [407]:
octobre_all

,Numéro de formulaire,Unnamed: 0,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,...,parisbrest,poire,pruneauxausirop,emmental,bleudauvergneaop,cremepraline,gateaudesemoule,cocktailfruitsexotiques,roquefort,cantalaop
0,0A2A,0,1,20,1.755,51.0,16.558307,3,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0A4U,1,1,19,1.780,59.0,18.621386,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0A8B,2,0,21,1.650,50.0,18.365473,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0B2M,3,1,18,1.780,65.0,20.515086,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0C8K,4,1,18,1.870,83.0,23.735308,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,9V8W,327,0,21,1.700,57.0,19.723183,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
322,9W3C,328,1,18,1.750,55.0,17.959184,3,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
323,9W3F,329,1,32,1.820,79.0,23.849777,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324,9X1Z,330,0,22,1.680,56.0,19.841270,2,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
325,9Z3C,331,1,21,1.750,61.0,19.918367,2,1,1,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [408]:
#list(set(juin_ldv.columns + juin_ens.columns))

final = octobre_all.copy()
entrees = ['saladesoja','carottesrapees', 'saladeriz', 'saucisson', 'endives', 'sardines'] + ['oeufmimosa', 
           'betteravespommesechalotes', 'tomates', 'pizzaentree','saladepommesdeterre']
plats = ['pavedecabillaud', 'lasagnesvg', 'chipo', 'pizza', 'burger', 'semoule',
       'frites'] + ['escalopedeporc', 'grillades', 'tartesaumon', 'gnocchispestovege', 'pommesdeterrevapeur',
       'poeleemeridionale']
desserts = ['fruit', 'yaourtnature', 'donut', 'crèmedessert', 'emmental',
       'tartefrboisesananas', 'moussechocolat', 'chaource'] + ['tartechocolat', 'madeleine',
       'fromage', 'pecheausirop']


for plat in entrees :
    if plat not in final.columns:
        final.insert(int(np.where(final.columns=='torsades')[0]), plat, np.nan)
        
for plat in plats :
    if plat not in final.columns:
        final.insert(int(np.where(final.columns=='yaourtauxfruits')[0]), plat, np.nan)
        
for plat in desserts :
    if plat not in final.columns:
        final.insert(len(final.columns), plat, np.nan)

In [409]:
print(len(set(juin_ldv.columns[41:]).intersection(juin_ens.columns[41:])))
print(juin_ens.shape)
print(juin_ldv.shape)
print(octobre_all.shape)
final.shape

5
(70, 62)
(104, 61)
(326, 118)

(326, 142)

In [410]:
csv_tot = pd.concat([final, juin_ens, juin_ldv])
csv_tot = csv_tot.set_index("Numéro de formulaire")
csv_tot = csv_tot.drop('Unnamed: 0', axis=1)
print(csv_tot.shape)
csv_tot.head()

(500, 140)

,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,Equilibre alim,...,cantalaop,fruit,donut,crèmedessert,tartefrboisesananas,moussechocolat,chaource,tartechocolat,fromage,pecheausirop
Numéro de formulaire,,,,,,,,,,,,,,,,,,,,,
0A2A,1.0,20.0,1.755,51.0,16.558307,3.0,1.0,0.0,2.0,2,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0A4U,1.0,19.0,1.780,59.0,18.621386,0.0,0.0,0.0,2.0,2,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0A8B,0.0,21.0,1.650,50.0,18.365473,0.0,0.0,0.0,2.0,1,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0B2M,1.0,18.0,1.780,65.0,20.515086,1.0,0.0,0.0,2.0,1,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0C8K,1.0,18.0,1.870,83.0,23.735308,3.0,0.0,0.0,2.0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Binarisation des NA

In [411]:
csv_tot.iloc[:,38:] = csv_tot.iloc[:,38:].fillna(0)

## Sauvegarde

In [412]:
csv_tot.to_csv('Merged_Octobre-Juin.csv', sep = ';', encoding='latin-1')