# Mise en forme de la partie formulaire des données de Juin

## Chargement package et données

In [440]:
import numpy as np
import pandas as pd
import os
import math
import re 
os.getcwd()

"C:\\Users\\Ju'\\Documents\\INGE 3A\\IODAA_Fil_Rouge"

In [441]:
df = pd.read_csv("Resultats_choix_Juin_ENS_split.csv", sep=",", decimal =".", encoding="cp1252")
df

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,...,Aspect,Attente,Convives,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,C02,saladesoja,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,...,0.0,6.0,C01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,C06,saladeriz,NaN,NaN,cabillaud,semoule,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,C04,saucisson,NaN,NaN,chipo,semoule,NaN,moussechocolat,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,C12,NaN,NaN,NaN,chipo,semoule,NaN,emmental,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,C07,saladeriz,NaN,NaN,cabillaud,semoule,NaN,yaourt,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,108,B74,endives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,B73,B76,NaN,NaN,NaN,NaN,NaN,NaN
109,109,B80,saucisson,NaN,NaN,chipo,semoule,NaN,moussechocolat,NaN,...,6.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,110,B76,saladeriz,NaN,NaN,lasagnesvg,NaN,NaN,fruit,NaN,...,6.0,1.0,B73,B74,B75,NaN,NaN,NaN,NaN,NaN
111,111,B79,carottes,NaN,NaN,lasagnesvg,NaN,NaN,fruit,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,112,B78,NaN,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,...,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [442]:
df.columns

Index(['Unnamed: 0', 'Numéro de formulaire', 'ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2',
       'DESSERT_3', 'Horodateur', 'Genre', 'Régime', 'Fréquentation', 'Faim',
       'Connaissance entourage', 'Influence entourage', 'Influence aspect',
       'Quantité', 'Equilibre', 'Aspect', 'Attente', 'Convives', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

Comme on s'intéresse aux variables liées au formulaire on va aussi gérer un Data Frame `dff`contenant uniquement les variables explicatives renseignées dans les formulaires (pas les varaibles liées au choix du plateau)

In [443]:
dff = df[['Genre', 'Régime', 'Fréquentation', 'Faim',
       'Connaissance entourage', 'Influence entourage', 'Influence aspect',
       'Quantité', 'Equilibre', 'Aspect', 'Attente', 'Convives', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25']]

## Suppression des lignes mal remplies

Certaines lignes de donnée formulaires ne sont pas renseignées (on obtient des lignes entières de `NaN`) : on supprime ces lignes. Dans un premier temps, on repère les lignes contenant que des `Nan` dans la partie formulaire (`dff`).

In [444]:
index_with_nan = dff.index[dff.isnull().all(axis=1)]
index_with_nan

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,  10,  11,  12,  24,  27,
             28,  29,  30,  31,  40,  43,  49,  58,  70,  72,  78,  80,  81,
             82,  83,  84,  87,  88,  90,  91,  94,  95,  97,  98,  99, 100,
            101, 103, 106, 111],
           dtype='int64')

In [445]:
#Suppression dans df
df.drop(index=index_with_nan, axis=0, inplace=True)
df.reset_index(drop = True, inplace = True)

dff.drop(index=index_with_nan, axis=0, inplace=True)
dff.reset_index(drop = True, inplace = True)

df

C:\Anaconda\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Unnamed: 0,Numéro de formulaire,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,...,Aspect,Attente,Convives,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,0,C02,saladesoja,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,...,0.0,6.0,C01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,C19,carottes,NaN,NaN,lasagnesvg,NaN,NaN,yaourt,NaN,...,3.0,1.0,C20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13,C21,NaN,NaN,NaN,chipo,semoule,NaN,donut,NaN,...,5.0,4.0,C22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14,C17,NaN,NaN,NaN,pizza,NaN,NaN,NaN,NaN,...,NaN,8.0,C18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15,C22,saladesoja,NaN,NaN,lasagnesvg,NaN,NaN,crèmedessert,NaN,...,5.0,5.0,C21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,107,B75,saladeriz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.0,8.0,B73,B74,B76,NaN,NaN,NaN,NaN,NaN
66,108,B74,endives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,B73,B76,NaN,NaN,NaN,NaN,NaN,NaN
67,109,B80,saucisson,NaN,NaN,chipo,semoule,NaN,moussechocolat,NaN,...,6.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,110,B76,saladeriz,NaN,NaN,lasagnesvg,NaN,NaN,fruit,NaN,...,6.0,1.0,B73,B74,B75,NaN,NaN,NaN,NaN,NaN
69,112,B78,NaN,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,...,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Gestion des colonnes

On veut que les DataFrames de Juin aient les mêmes colonnes que les DataFrames d'Octobre. Pour cela il faut que les DataFrames aient le même nombre de colonnes, que ces colonnes soient dans le même ordre et aient le même nom. Pour l'instant, on ne se préoccupe pas des colonnes liées au choix, ni de l'horodateur, et numéro de forulaire.

**Colonnes des `Formulaires d'Octobre`:**
```
['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique',
       'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim',
       'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance',
       'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim',
       'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5',
       'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12',
       'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
```

In [446]:
print(dff.columns)
dff.head()

Index(['Genre', 'Régime', 'Fréquentation', 'Faim', 'Connaissance entourage',
       'Influence entourage', 'Influence aspect', 'Quantité', 'Equilibre',
       'Aspect', 'Attente', 'Convives', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25'],
      dtype='object')

,Genre,Régime,Fréquentation,Faim,Connaissance entourage,Influence entourage,Influence aspect,Quantité,Equilibre,Aspect,Attente,Convives,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Homme,non,1à3,6.0,oui,non,non,7.0,8,0.0,6.0,C01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Homme,oui,>3,7.0,non,non,non,7.0,è,3.0,1.0,C20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Femme,non,>3,7.0,oui,non,non,3.0,2,5.0,4.0,C22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Femme,oui,>3,8.0,NaN,oui,oui,8.0,7,NaN,8.0,C18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Homme,non,>3,7.0,oui,oui,oui,4.0,7,5.0,5.0,C21,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Variables catégorielles binaires

Elles seront par la suite codées en 0 et 1.

In [447]:
#on regarde quelles sont les variables binaires
print("Genre : ", df["Genre"].unique())        #Genre dans fichiers d'Octobre
print("Régime : ", df["Régime"].unique())        #Régime particulier
print("Connaissance entourage : ", df['Connaissance entourage'].unique())        #Connaissance
print("Influence aspect : ", df['Influence aspect'].unique())
print("Influence entourage : ", df['Influence entourage'].unique())        #Non binaire mas Influence sociale

Genre :  ['Homme' 'Femme' nan 'NB']
Régime :  ['non' 'oui' nan]
Connaissance entourage :  ['oui' 'non' nan]
Influence aspect :  ['non' 'oui' 'non ']
Influence entourage :  ['non' 'oui']

Pour `Influence aspect` on voit un espace après le 'non' qui est comptabilisé comme une valeur différente. Il faut le modifier. Pour le `Genre` il y a des valeurs 'NB' (Non binaire ?) comment les traiter ? Pour le moment on les laisse en NA.

In [448]:
df["Genre"] = df["Genre"].replace({'Homme':1, 'Femme':0, 'NB':np.nan})
df["Régime"] = df["Régime"].replace({'non':0, 'oui':1})
df['Influence aspect'] = df['Influence aspect'].replace(' ', '', regex=True)
df['Influence aspect'] = df['Influence aspect'].replace({'non':0, 'oui':1})
df['Influence entourage'] = df['Influence entourage'].replace({'non':1, 'oui':2}) #our correspondre à la variable échelle d'Octobre
df['Connaissance entourage'] = df['Connaissance entourage'].replace({'non':0, 'oui':1})

In [449]:
print("Genre : ", df["Genre"].unique())       
print("Régime : ", df["Régime"].unique())      
print("Connaissance entourage : ", df['Connaissance entourage'].unique())     
print("Influence aspect : ", df['Influence aspect'].unique())
print("Influence entourage : ", df['Influence entourage'].unique())

Genre :  [ 1.  0. nan]
Régime :  [ 0.  1. nan]
Connaissance entourage :  [ 1.  0. nan]
Influence aspect :  [0 1]
Influence entourage :  [1 2]

### Variables numériques

Pour ces jeux de données toutes les variables umériques sont issues de variables catégrielles issues d'échelles.

### Variables categorielles en échelle

In [450]:
#on regarde quelles sont les variables concernées
print("Fréquentation : ", df['Fréquentation'].unique())        #Fréquence CROUS
print("Faim : ", df['Faim'].unique())        #Faim
print("Quantité : ", df['Quantité'].unique())        
print("Equilibre : ", df['Equilibre'].unique())        #Equilibre alim
print("Aspect : ", df['Aspect'].unique())        #Perception senso
print("Attente : ", df['Attente'].unique())        #Nb file

Fréquentation :  ['1à3' '>3' '<1' nan '>1']
Faim :  [ 6.  7.  8.  9. nan  4.  5.  3.  2. 10.]
Quantité :  [ 7.  3.  8.  4.  6.  5.  9.  1. nan  0.  2. 10.]
Equilibre :  ['8' 'è' '2' '7' '3' '4' '6' '10' '5' '9' '0']
Aspect :  [ 0.  3.  5. nan  9.  7.  6.  8. 10.  4.  2.]
Attente :  [ 6.  1.  4.  8.  5.  9. nan  3.  2. 10.  7.  0.]

#### Fréquentation

In [451]:
#on remplace les valeurs de la colonne par des valeurs numériques
df["Fréquentation"] = df["Fréquentation"].replace('<1', 0)
df["Fréquentation"] = df["Fréquentation"].replace('1à3', 1)
df["Fréquentation"] = df["Fréquentation"].replace('>1', 1)
df["Fréquentation"] = df["Fréquentation"].replace('>3', 2)

In [452]:
print("Fréquentation : ", df['Fréquentation'].unique())

Fréquentation :  [ 1.  2.  0. nan]

#### Faim

In [453]:
#Changement d'échelle de 0 à 3
df["Faim"] = df["Faim"].replace([1, 2, 3],0)
df["Faim"] = df["Faim"].replace([4, 5],1)
df["Faim"] = df["Faim"].replace([6, 7],2)
df["Faim"] = df["Faim"].replace([8, 9, 10],3)

In [454]:
print("Faim : ", df['Faim'].value_counts())

Faim :  2.0    34
3.0    19
1.0    13
0.0     3
Name: Faim, dtype: int64

#### Equilibre

Dans un premier temps on règle le problème du 'è'. On suppose qu'il s'agit d'un '7' mal tapé sur un clavier AZERTY.

In [455]:
df["Equilibre"] = df["Equilibre"].replace('è','7')

Nous changeons l'échelle pour qu'elle soit la même que celle utilisée dans les formulaires d'Octobre. Pour ce faire nous changeons au préalable le type de données de chaines de caractères à entiers.

In [456]:
#Changement du type
df["Equilibre"] = df["Equilibre"].astype(int)

#Changement d'échelle 0 à 4.
df["Equilibre"] = df["Equilibre"].replace([0, 1, 2],0)
df["Equilibre"] = df["Equilibre"].replace([3, 4],1)
df["Equilibre"] = df["Equilibre"].replace([5, 6],2)
df["Equilibre"] = df["Equilibre"].replace([7, 8],3)
df["Equilibre"] = df["Equilibre"].replace([9, 10],4)

In [457]:
print("Attente : ", df['Attente'].value_counts())

Attente :  5.0     10
3.0     10
7.0     10
10.0     7
6.0      6
2.0      6
8.0      5
1.0      4
9.0      4
4.0      3
0.0      3
Name: Attente, dtype: int64

#### Attente

In [458]:
#Changement d'échelle de 0 à 2
df["Attente"] = df["Attente"].replace([0, 1, 2, 3],0)
df["Attente"] = df["Attente"].replace([4, 5, 6],1)
df["Attente"] = df["Attente"].replace([7, 8, 9, 10],2)

In [459]:
print("Attente : ", df['Attente'].value_counts())

Attente :  2.0    26
0.0    23
1.0    19
Name: Attente, dtype: int64

#### Aspect

In [460]:
#Changement d'échelle de 0 à 3
df["Aspect"] = df["Aspect"].replace([1, 2, 3],0)
df["Aspect"] = df["Aspect"].replace([4, 5],1)
df["Aspect"] = df["Aspect"].replace([6, 7],2)
df["Aspect"] = df["Aspect"].replace([8, 9, 10],3)

In [461]:
print("Aspect : ", df['Aspect'].value_counts())

Aspect :  2.0    25
3.0    20
1.0    16
0.0     8
Name: Aspect, dtype: int64

### Variables "Ami" (chaine de caractères)

Renommons les colonnes `Ami` pour qu'elles correspondent aux colonnes des données d'Octobre (Ami 1 à 17 même si certaines colonnes sont vides).

In [462]:
df.columns = ['Unnamed: 0', 'Numéro de formulaire', 'ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2',
       'DESSERT_3', 'Horodateur', 'Genre', 'Régime', 'Fréquentation', 'Faim',
       'Connaissance entourage', 'Influence entourage', 'Influence aspect',
       'Quantité', 'Equilibre', 'Aspect', 'Attente', 'Ami 1', 'Ami 2',
       'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8']

Maintenant ajoutons les colonnes `Ami` manquantes.

In [463]:
for i in range(9,18):
    df[f'Ami {i}'] = np.NaN
df.iloc[:,20:]

,Equilibre,Aspect,Attente,Ami 1,Ami 2,Ami 3,Ami 4,Ami 5,Ami 6,Ami 7,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
0,3,0.0,1.0,C01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,0.0,0.0,C20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,1.0,1.0,C22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,2.0,C18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,1.0,1.0,C21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,2,3.0,2.0,B73,B74,B76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,4,0.0,1.0,B73,B76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,3,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2,2.0,0.0,B73,B74,B75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,3,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [464]:
df['Ami 7'].unique()

array([nan, 'B19', 'B65', 'B01', 'B28'], dtype=object)

## Que faire des NA relous ?

Pour l'instant on ne s'en occupe pas, dans les autres csv on les a remplacées par la médiane.

In [465]:
df = df.replace(pd.NA, np.NaN, regex=True)
df = df.replace('', np.NaN, regex=True)

In [466]:
#median = csv_tot.median(skipna = True)
#len(csv_tot.median(skipna = True))

## Verification du types de données

In [467]:
#df.dtypes

In [468]:
df = df.astype({'Genre':int, 'Régime':int, 'Fréquentation':int, 'Faim':int,
       'Connaissance entourage':int, 'Influence entourage':int, "Aspect":int,
       'Attente':int, 'Ami 1':str, 'Ami 2':str, 'Ami 3':str, 'Ami 4':str, 'Ami 5':str,
       'Ami 6':str, 'Ami 7':str, 'Ami 8':str, 'Ami 8':str, 'Ami 10':str, 'Ami 11':str, 'Ami 12':str, 
       'Ami 13':str, 'Ami 14':str, 'Ami 15':str, 'Ami 16':str, 'Ami 17':str}, errors = 'ignore')

In [469]:
#df.dtypes

## Réorganisation du DataFrame

Colonnes d'Octobre :
```
['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique', 'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
```

Colonnes actuelles (à changer) pour Juin :
```
['Unnamed: 0', 'Numéro de formulaire', 'ENTREE_1', 'ENTREE_2','ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2','DESSERT_3', 'Horodateur', 'Genre', 'Régime', 'Fréquentation', 'Faim', 'Connaissance entourage', 'Influence entourage', 'Influence aspect','Quantité', 'Equilibre', 'Aspect', 'Attente', 'Ami 1', 'Ami 2','Ami 3', 'Ami 4', 'Ami 5', 'Ami 6','Ami 7', 'Ami 8']
```

Mise en place des colonnes formulaire.

In [470]:
final = df[['Genre',  'Régime',  'Fréquentation',  'Equilibre', 'Connaissance entourage', 'Influence entourage', 
            'Aspect', 'Attente', 'Faim', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 
            'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']]

Renommage des colonnes

In [471]:
final.columns = ['Genre', 'Régime particulier', 'Fréquence CROUS', 'Equilibre alim', 'Connaissance', 'Influ sociale', 
                 'Percept senso', 'Nb file', 'Faim', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 
                 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']

Ajout des colonnes d'Octobre non renseignées remplies de NA.

In [472]:
#help(pd.DataFrame.insert)

col_Octobre = ['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique', 'Régime particulier', 'Végé', 
               'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 
               'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress', 
               'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 
               'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']

for i in range(len(col_Octobre)):
    if col_Octobre[i] != final.columns[i]:
        final.insert(i, col_Octobre[i], np.nan)

In [473]:
final

,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,Equilibre alim,...,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
0,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
2,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,0,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
3,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
4,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
66,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
67,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
68,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
69,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,3,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan

Ajout des colonnes de choix non finalisées.

In [474]:
final.insert(0, 'Numéro de formulaire', df['Numéro de formulaire'])

final = pd.merge(final,df[['ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2',
       'DESSERT_3', 'Horodateur']], left_index=True, right_index=True)

In [475]:
print(final.columns)
final

Index(['Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids', 'IMC',
       'Activité physique', 'Régime particulier', 'Végé', 'Fréquence CROUS',
       'Equilibre alim', 'Seule ou en groupe', 'Nb groupe entrée', 'Proximité',
       'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso',
       'Nb file', 'Faim', 'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3',
       'Ami 4', 'Ami 5', 'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10',
       'Ami 11', 'Ami 12', 'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17',
       'ENTREE_1', 'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3',
       'DESSERT_1', 'DESSERT_2', 'DESSERT_3', 'Horodateur'],
      dtype='object')

,Numéro de formulaire,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,DESSERT_3,Horodateur
0,C02,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,...,saladesoja,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,NaN,12:39
1,C19,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,carottes,NaN,NaN,lasagnesvg,NaN,NaN,yaourt,NaN,NaN,12:17
2,C21,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,NaN,NaN,NaN,chipo,semoule,NaN,donut,NaN,NaN,12:48
3,C17,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,pizza,NaN,NaN,NaN,NaN,NaN,12:26
4,C22,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,saladesoja,NaN,NaN,lasagnesvg,NaN,NaN,crèmedessert,NaN,NaN,12:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,B75,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,saladeriz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:04
66,B74,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,endives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:04
67,B80,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,...,saucisson,NaN,NaN,chipo,semoule,NaN,moussechocolat,NaN,NaN,13:11
68,B76,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,saladeriz,NaN,NaN,lasagnesvg,NaN,NaN,fruit,NaN,NaN,13:04
69,B78,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,NaN,13:02

## Sauvegarde du DataFrame

In [476]:
final.to_csv("Formatted_Formulaires_Juin.csv", encoding='latin1')