In [51]:
import pandas as pd 
import numpy as np
import os

In [52]:
os.getcwd()
#file_out = 'choix_21_octobre_clean.csv'
#file_in = 
df = pd.read_csv('Formatted_Formulaires_Juin.csv', sep = ',', index_col=False, encoding='latin-1')
print(df.columns)
print(df.shape) 
df

Index(['Unnamed: 0', 'Numéro de formulaire', 'Genre', 'Age', 'Taille', 'Poids',
       'IMC', 'Activité physique', 'Régime particulier', 'Végé',
       'Fréquence CROUS', 'Equilibre alim', 'Seule ou en groupe',
       'Nb groupe entrée', 'Proximité', 'Connaissance', 'Parti groupe',
       'Influ sociale', 'Percept senso', 'Nb file', 'Faim', 'Stress',
       'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 'Ami 6',
       'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
       'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17', 'ENTREE_1', 'ENTREE_2',
       'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2',
       'DESSERT_3', 'Horodateur'],
      dtype='object')
(70, 50)

,Unnamed: 0,Numéro de formulaire,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,...,ENTREE_1,ENTREE_2,ENTREE_3,PLAT_1,PLAT_2,PLAT_3,DESSERT_1,DESSERT_2,DESSERT_3,Horodateur
0,0,C02,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,saladesoja,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,NaN,12:39
1,1,C19,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,carottes,NaN,NaN,lasagnesvg,NaN,NaN,yaourt,NaN,NaN,12:17
2,2,C21,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,chipo,semoule,NaN,donut,NaN,NaN,12:48
3,3,C17,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,pizza,NaN,NaN,NaN,NaN,NaN,12:26
4,4,C22,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,saladesoja,NaN,NaN,lasagnesvg,NaN,NaN,crèmedessert,NaN,NaN,12:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,65,B75,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,saladeriz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:04
66,66,B74,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,endives,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13:04
67,67,B80,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,saucisson,NaN,NaN,chipo,semoule,NaN,moussechocolat,NaN,NaN,13:11
68,68,B76,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,saladeriz,NaN,NaN,lasagnesvg,NaN,NaN,fruit,NaN,NaN,13:04
69,69,B78,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,cabillaud,semoule,NaN,fruit,NaN,NaN,13:02

In [53]:
# les lignes prennent les valeur des numeros de formulaire au lieu d'avoir des numeros (sorte de clé etrangère)

#df_meal = df.drop('Unnamed: 0', axis = 1)
#df_meal = df_meal.drop('Numéro de formulaire', axis = 1)
#df_meal = df_meal.drop('Horodateur',axis=1)
df_meal = df[['ENTREE_1', 'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3', 'DESSERT_1', 'DESSERT_2', 'DESSERT_3']]

print(df_meal.columns)
# on va crer la liste de tous les aliments possibles qui sera nos en-têtes de colonnes 
aliments = []
for colonne in df_meal.columns:
    for item in df_meal[colonne].unique():
        if item not in aliments and str(item) != 'nan':
            aliments.append(item)
#aliments.remove('pasdentrée')
#aliments.remove('pasdedessert')
#aliments.remove(nan)
print(aliments)

for aliment in aliments:
    #print(np.isnan(aliment))
    if type(aliment) != str:
        #if aliment
        aliments.remove(aliment) # pour enlever les objets de type None 
    if type(aliment) == float:
        print('cc')
        print(aliment)
        aliments.remove(aliment)

print(type(aliments[10]))

Index(['ENTREE_1', 'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3',
       'DESSERT_1', 'DESSERT_2', 'DESSERT_3'],
      dtype='object')
['saladesoja', 'carottes', 'saladeriz', 'saucisson', 'endives', 'sardines', 'cabillaud', 'lasagnesvg', 'chipo', 'pizza', 'burger', 'semoule', 'frites', 'fruit', 'yaourt', 'donut', 'crèmedessert', 'emmental', 'tartefrboisesananas', 'moussechocolat', 'chaource']
<class 'str'>

In [54]:
# on crée maintenant un nouveau df one hot dont les colonnes sont les aliments 
df_oh = pd.DataFrame(columns=aliments)

for i in range(len(df)):
    items1 = df_meal.iloc[i].to_list()
    items = []
    #print(items1)
    for item in items1:
        if str(item) != 'nan':
            items.append(item)
    try:
        items.remove('pasdentrée')
    except:
        pass
    try : 
        items.remove('pasdedessert')
    except:
        pass
    #print(items)
    #on crée une ligne de 0 pour l'individu i 
    df_oh.loc[i] = 0
    #print(df_oh)
    # on place des 1 dans les colonnes des items choisis
    for item in items:
        #print(item)
        df_oh.iloc[i, df_oh.columns.get_loc(item)] = 1

print(df_oh)

   saladesoja carottes saladeriz saucisson endives sardines cabillaud  \
0           1        0         0         0       0        0         1
1           0        1         0         0       0        0         0
2           0        0         0         0       0        0         0
3           0        0         0         0       0        0         0
4           1        0         0         0       0        0         0
..        ...      ...       ...       ...     ...      ...       ...
65          0        0         1         0       0        0         0
66          0        0         0         0       1        0         0
67          0        0         0         1       0        0         0
68          0        0         1         0       0        0         0
69          0        0         0         0       0        0         1

   lasagnesvg chipo pizza  ... semoule frites fruit yaourt donut crèmedessert  \
0           0     0     0  ...       1      0     1      0     0            0
1           1     0     0  ...       0      0     0      1     0            0
2           0     1     0  ...       1      0     0      0     1            0
3           0     0     1  ...       0      0     0      0     0            0
4           1     0     0  ...       0      0     0      0     0            1
..        ...   ...   ...  ...     ...    ...   ...    ...   ...          ...
65          0     0     0  ...       0      0     0      0     0            0
66          0     0     0  ...       0      0     0      0     0            0
67          0     1     0  ...       1      0     0      0     0            0
68          1     0     0  ...       0      0     1      0     0            0
69          0     0     0  ...       1      0     1      0     0            0

   emmental tartefrboisesananas moussechocolat chaource
0         0                   0              0        0
1         0                   0              0        0
2         0                   0              0        0
3         0                   0              0        0
4         0                   0              0        0
..      ...                 ...            ...      ...
65        0                   0              0        0
66        0                   0              0        0
67        0                   0              1        0
68        0                   0              0        0
69        0                   0              0        0

[70 rows x 21 columns]

In [55]:
#df_oh.insert(0, 'Numéro de formulaire ', df['Numéro de formulaire'])
#df_oh.insert(0, 'Horodateur', df['Horodateur'])

In [56]:
df.drop(['Unnamed: 0', 'ENTREE_1', 'ENTREE_2', 'ENTREE_3', 'PLAT_1', 'PLAT_2', 'PLAT_3',
         'DESSERT_1', 'DESSERT_2', 'DESSERT_3'], axis=1, inplace=True)
final = pd.merge(df, df_oh, left_index=True, right_index=True)
final

,Numéro de formulaire,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,semoule,frites,fruit,yaourt,donut,crèmedessert,emmental,tartefrboisesananas,moussechocolat,chaource
0,C02,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,...,1,0,1,0,0,0,0,0,0,0
1,C19,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,0,0,0,1,0,0,0,0,0,0
2,C21,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,1,0,0,0,1,0,0,0,0,0
3,C17,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
4,C22,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,B75,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
66,B74,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,0,0,0,0,0,0,0,0,0,0
67,B80,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,1.0,...,1,0,0,0,0,0,0,0,1,0
68,B76,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,0,0,1,0,0,0,0,0,0,0
69,B78,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2.0,...,1,0,1,0,0,0,0,0,0,0

In [58]:
final.to_csv('Forms-formatted_Choix-onehot_Juin_ENS.csv', sep = ';', encoding='latin-1')