In [1]:
import os
import pandas as pd
import numpy as np

In [48]:
os.getcwd()

'D:\\Downloads\\Projet_MIChoCo-main\\Projet_MIChoCo-main\\data_CROUS\\data_processed\\merged_one_hot'

In [163]:
df = pd.read_csv("merged_Forms_Choix_regroupement.csv", encoding="cp1252", on_bad_lines="skip", sep=";")

In [164]:
df

,Unnamed: 0,index,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,...,onehot_crudites,onehot_saladefeculents,onehot_charcuterie,onehot_viande,onehot_poisson,onehot_vege,onehot_yaourt,onehot_dessertgourmand,onehot_cremedessert,onehot_accompagnement
0,0,0A2A,1,20,"1,755",51,"16,55830716",3,1,0,...,0,0,0,1,0,0,1,0,0,0
1,1,0A4U,1,19,"1,78",59,"18,62138619",0,0,0,...,1,0,0,1,0,0,1,0,0,0
2,2,0A8B,0,21,"1,65",50,"18,36547291",0,0,0,...,0,0,0,1,0,0,1,0,0,1
3,3,0B2M,1,18,"1,78",65,"20,51508648",1,0,0,...,0,0,1,1,0,0,1,0,0,1
4,4,0C8K,1,18,"1,87",83,"23,73530842",3,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,327,9V8W,0,21,"1,7",57,"19,72318339",1,1,1,...,1,0,0,0,0,1,0,0,0,1
322,328,9W3C,1,18,"1,75",55,"17,95918367",3,0,0,...,0,0,0,1,0,0,0,0,0,1
323,329,9W3F,1,32,"1,82",79,"23,8497766",1,0,0,...,0,0,0,1,0,0,1,0,0,1
324,330,9X1Z,0,22,"1,68",56,"19,84126984",2,0,0,...,0,0,1,0,0,1,0,0,0,1
325,331,9Z3C,1,21,"1,75",61,"19,91836735",2,1,1,...,1,0,0,0,0,1,0,0,0,1

In [165]:
df = df.drop(["Unnamed: 0"], axis=1)
df

,index,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,onehot_crudites,onehot_saladefeculents,onehot_charcuterie,onehot_viande,onehot_poisson,onehot_vege,onehot_yaourt,onehot_dessertgourmand,onehot_cremedessert,onehot_accompagnement
0,0A2A,1,20,"1,755",51,"16,55830716",3,1,0,2,...,0,0,0,1,0,0,1,0,0,0
1,0A4U,1,19,"1,78",59,"18,62138619",0,0,0,2,...,1,0,0,1,0,0,1,0,0,0
2,0A8B,0,21,"1,65",50,"18,36547291",0,0,0,2,...,0,0,0,1,0,0,1,0,0,1
3,0B2M,1,18,"1,78",65,"20,51508648",1,0,0,2,...,0,0,1,1,0,0,1,0,0,1
4,0C8K,1,18,"1,87",83,"23,73530842",3,0,0,2,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,9V8W,0,21,"1,7",57,"19,72318339",1,1,1,2,...,1,0,0,0,0,1,0,0,0,1
322,9W3C,1,18,"1,75",55,"17,95918367",3,0,0,2,...,0,0,0,1,0,0,0,0,0,1
323,9W3F,1,32,"1,82",79,"23,8497766",1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
324,9X1Z,0,22,"1,68",56,"19,84126984",2,0,0,2,...,0,0,1,0,0,1,0,0,0,1
325,9Z3C,1,21,"1,75",61,"19,91836735",2,1,1,2,...,1,0,0,0,0,1,0,0,0,1

In [166]:
df["count_fruits"] = df["orange"] + df["pomme"] + df["kiwi"] + df["compote"] + df["poire"] + df["pruneauxausirop"] + df["banane"] + df["cocktailfruitsexotiques"]

In [167]:
df["count_fromage"] = df["emmental"] + df["bleudauvergneaop"] + df["roquefort"] + df["cantalaop"]

In [168]:
df["count_saladefeculents"] = df["saladepates"] + df["saladepommesdeterre"] + df["saladeriz"]

In [169]:
df["count_crudites"] = df["chou"] + df["saladelentilles"] + df["champignons"] + df["carottesrapees"] + df["artichauts"] + df["coeursdepalmiers"] + df["tomates"] + df["betterave"]

In [170]:
df["count_charcuterie"] = df["oeufmimosa"] + df["salami"] + df["surimi"] + df["minisandwich"] + df["pate"] + df["rillettepoisson"]

In [171]:
df["count_viande"] = df["boeufbourguignon"] + df["kebab"] + df["faux-filet"] + df["pizzamerguezpoivrons"] + df["hamburger"] + df["escalopeviennoise"] + df["filetdepoulet"] + df["pizza"] + df["cordonbleu"] + df["boulettesviande"] + df["pizzakebab"] + df["entrecote"]

In [172]:
df["count_poisson"] = df["feuilletesaumonoseille"] + df["pavedecabillaud"] + df["pavedepoissonbordelaise"] + df["poissonpane"]

In [173]:
df["count_vege"] = df["risottocourgettes"] + df["pizzaraclette"] + df["tajinevege"] + df["burgervege"] + df["rotilegumestofu"] + df["rotidelegumestofu"]

In [174]:
df["count_yaourt"] = df["yaourtauxfruits"] + df["faissellenature"] + df["yaourtnature"] + df["fromageblancfruitsrouges"] + df["petitsuissenature"] + df["fromageblanc"] + df["yaourtauxfruitsenmorceaux"]

In [175]:
df["count_dessertgourmand"] = df["oeufalaneige"] + df["madeleine"] + df["tarteauxfruits"] + df["parisbrest"] + df["gateaudesemoule"]

In [176]:
df["count_cremedessert"] = df["moussenoixdecoco"] + df["liegeois"] + df["cremepraline"] + df["flancchocolat"]

In [177]:
df["count_accompagnement"] = df["torsades"] + df["brocolis"] + df["frites"] + df["ratatouille"] + df["pommesdeterrevapeur"] + df["juliennedelegumes"] + df["riz"] + df["spaghettis"] + df["mousselinedepotiron"] + df["légumes"]

In [178]:
print(df.columns.get_loc("onehot_fruits"))
print(df.columns.get_loc("count_fruits"))
print(df.columns[118])

118
106
onehot_fruits

In [179]:
cpt = 112
for onehot_col in df.columns[118:] :
    count_col = np.array(df[df.columns[cpt]])
    df[onehot_col] = np.where(count_col > 0,1,0)
    cpt+=1
df

,index,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,onehot_crudites,onehot_saladefeculents,onehot_charcuterie,onehot_viande,onehot_poisson,onehot_vege,onehot_yaourt,onehot_dessertgourmand,onehot_cremedessert,onehot_accompagnement
0,0A2A,1,20,"1,755",51,"16,55830716",3,1,0,2,...,1,0,0,1,0,0,1,0,0,1
1,0A4U,1,19,"1,78",59,"18,62138619",0,0,0,2,...,1,0,0,1,0,0,1,0,0,1
2,0A8B,0,21,"1,65",50,"18,36547291",0,0,0,2,...,1,0,0,1,0,0,1,0,0,1
3,0B2M,1,18,"1,78",65,"20,51508648",1,0,0,2,...,1,0,0,1,0,0,1,0,0,1
4,0C8K,1,18,"1,87",83,"23,73530842",3,0,0,2,...,1,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,9V8W,0,21,"1,7",57,"19,72318339",1,1,1,2,...,0,0,0,1,0,1,0,0,0,1
322,9W3C,1,18,"1,75",55,"17,95918367",3,0,0,2,...,0,0,0,1,0,0,0,0,0,1
323,9W3F,1,32,"1,82",79,"23,8497766",1,0,0,1,...,1,0,0,1,0,0,1,0,0,1
324,9X1Z,0,22,"1,68",56,"19,84126984",2,0,0,2,...,0,0,0,1,0,1,0,0,0,1
325,9Z3C,1,21,"1,75",61,"19,91836735",2,1,1,2,...,0,0,0,1,0,1,0,0,0,1

In [180]:
#Réduction en classes des colonnes avec des valeurs très diverses pour allégre le one-hot encoding
def round_to_nearest_IMC(x) : 
    modulo = int(x.split(",")[0])%5
    print("Data : ", int(x.split(",")[0]), modulo)
    if modulo > 2.5 :
        to_return = int(x.split(",")[0]) + (5-modulo)
        print("Return : ", to_return)
        return to_return
    
    elif modulo == 0 : 
        print("Return : ", int(x.split(",")[0]))
        return int(x.split(",")[0])
    
    else : 
        to_return = int(x.split(",")[0]) - modulo
        print("Return : ", to_return)
        return to_return
    
df["IMC"] = df["IMC"].map(lambda IMC : round_to_nearest_IMC(IMC))
print(df["IMC"])

Data :  16 1
Return :  15
Data :  18 3
Return :  20
Data :  18 3
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  16 1
Return :  15
Data :  21 1
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  20 0
Return :  20
Data :  0 0
Return :  0
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  24 4
Return :  25
Data :  23 3
Return :  25
Data :  24 4
Return :  25
Data :  24 4
Return :  25
Data :  19 4
Return :  20
Data :  26 1
Return :  25
Data :  19 4
Return :  20
Data :  17 2
Return :  15
Data :  17 2
Return :  15
Data :  24 4
Return :  25
Data :  27 2
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  15 0
Return :  15
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  20 0
Return :  20
Data :  25 0
Return :  25
Data :  22 2
Return :  20
Data :  24 4
Return :  25
Data :  24 4
Return :  25
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  26 1
Return :  25
Data :  22 2
Return :  20
Data :  17 2
Return :  15
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  19 4
Return :  20
Data :  25 0
Return :  25
Data :  21 1
Return :  20
Data :  19 4
Return :  20
Data :  24 4
Return :  25
Data :  26 1
Return :  25
Data :  27 2
Return :  25
Data :  27 2
Return :  25
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  24 4
Return :  25
Data :  21 1
Return :  20
Data :  16 1
Return :  15
Data :  19 4
Return :  20
Data :  20 0
Return :  20
Data :  25 0
Return :  25
Data :  20 0
Return :  20
Data :  26 1
Return :  25
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  18 3
Return :  20
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  24 4
Return :  25
Data :  17 2
Return :  15
Data :  21 1
Return :  20
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  20 0
Return :  20
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  24 4
Return :  25
Data :  22 2
Return :  20
Data :  23 3
Return :  25
Data :  24 4
Return :  25
Data :  0 0
Return :  0
Data :  19 4
Return :  20
Data :  24 4
Return :  25
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  24 4
Return :  25
Data :  27 2
Return :  25
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  18 3
Return :  20
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  20 0
Return :  20
Data :  25 0
Return :  25
Data :  24 4
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  34 4
Return :  35
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  22 2
Return :  20
Data :  22 2
Return :  20
Data :  15 0
Return :  15
Data :  24 4
Return :  25
Data :  25 0
Return :  25
Data :  20 0
Return :  20
Data :  17 2
Return :  15
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  15 0
Return :  15
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  21 1
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  27 2
Return :  25
Data :  23 3
Return :  25
Data :  22 2
Return :  20
Data :  18 3
Return :  20
Data :  21 1
Return :  20
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  20 0
Return :  20
Data :  24 4
Return :  25
Data :  29 4
Return :  30
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  23 3
Return :  25
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  27 2
Return :  25
Data :  19 4
Return :  20
Data :  20 0
Return :  20
Data :  20 0
Return :  20
Data :  25 0
Return :  25
Data :  17 2
Return :  15
Data :  19 4
Return :  20
Data :  27 2
Return :  25
Data :  24 4
Return :  25
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  19 4
Return :  20
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  13 3
Return :  15
Data :  20 0
Return :  20
Data :  18 3
Return :  20
Data :  28 3
Return :  30
Data :  17 2
Return :  15
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  16 1
Return :  15
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  22 2
Return :  20
Data :  24 4
Return :  25
Data :  18 3
Return :  20
Data :  25 0
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  18 3
Return :  20
Data :  18 3
Return :  20
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  33 3
Return :  35
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  26 1
Return :  25
Data :  16 1
Return :  15
Data :  23 3
Return :  25
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  21 1
Return :  20
Data :  23 3
Return :  25
Data :  16 1
Return :  15
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  24 4
Return :  25
Data :  18 3
Return :  20
Data :  25 0
Return :  25
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  18 3
Return :  20
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  24 4
Return :  25
Data :  25 0
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  31 1
Return :  30
Data :  18 3
Return :  20
Data :  17 2
Return :  15
Data :  25 0
Return :  25
Data :  17 2
Return :  15
Data :  25 0
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  24 4
Return :  25
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  23 3
Return :  25
Data :  23 3
Return :  25
Data :  29 4
Return :  30
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  21 1
Return :  20
Data :  19 4
Return :  20
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  20 0
Return :  20
Data :  18 3
Return :  20
Data :  21 1
Return :  20
Data :  31 1
Return :  30
Data :  27 2
Return :  25
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  16 1
Return :  15
Data :  18 3
Return :  20
Data :  22 2
Return :  20
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  16 1
Return :  15
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  24 4
Return :  25
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  19 4
Return :  20
Data :  19 4
Return :  20
Data :  20 0
Return :  20
Data :  22 2
Return :  20
Data :  24 4
Return :  25
Data :  21 1
Return :  20
Data :  20 0
Return :  20
Data :  24 4
Return :  25
Data :  20 0
Return :  20
Data :  21 1
Return :  20
Data :  23 3
Return :  25
Data :  20 0
Return :  20
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  35 0
Return :  35
Data :  19 4
Return :  20
Data :  25 0
Return :  25
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  21 1
Return :  20
Data :  22 2
Return :  20
Data :  23 3
Return :  25
Data :  25 0
Return :  25
Data :  20 0
Return :  20
Data :  24 4
Return :  25
Data :  24 4
Return :  25
Data :  20 0
Return :  20
Data :  19 4
Return :  20
Data :  21 1
Return :  20
Data :  25 0
Return :  25
Data :  23 3
Return :  25
Data :  21 1
Return :  20
Data :  18 3
Return :  20
Data :  19 4
Return :  20
Data :  18 3
Return :  20
Data :  18 3
Return :  20
Data :  19 4
Return :  20
Data :  24 4
Return :  25
Data :  22 2
Return :  20
Data :  21 1
Return :  20
Data :  31 1
Return :  30
Data :  21 1
Return :  20
Data :  35 0
Return :  35
Data :  19 4
Return :  20
Data :  17 2
Return :  15
Data :  23 3
Return :  25
Data :  19 4
Return :  20
Data :  19 4
Return :  20
0      15
1      20
2      20
3      20
4      25
       ..
321    20
322    15
323    25
324    20
325    20
Name: IMC, Length: 326, dtype: int64

In [182]:
df.to_csv("new_Choix_Forms_Regroupements.csv", encoding="cp1252", index=False)

In [183]:
os.getcwd()

'D:\\Downloads\\Projet_MIChoCo-main\\Projet_MIChoCo-main\\data_CROUS\\data_processed\\merged_one_hot'