# Mise en forme et merging les 4 fichiers formulaires

Code inspiré du fichier `preprocessing_formulaire_hippo.ipynb` (mise en forme des colonnes) et `OneHot Formulaires.ipynb` (concaténation des csv)

## Chargement packages et données

In [223]:
import numpy as np
import pandas as pd
import os
import math
import re 
os.getcwd()

"C:\\Users\\Ju'\\Documents\\INGE 3A\\IODAA_Fil_Rouge"

In [224]:
#df1 = pd.read_csv(file_in, sep=";")
csv_1 = pd.read_csv("data_CROUS/data/Resultats_formulaires_21_octobre.csv", sep=";", decimal =",")
csv_2 = pd.read_csv("data_CROUS/data/Resultats_formulaires_22_octobre.csv", sep=";", decimal =",")
csv_3 = pd.read_csv("data_CROUS/data/Resultats_formulaires_28_octobre.csv", sep=";", decimal =",")
csv_4 = pd.read_csv("data_CROUS/data/Resultats_formulaires_29_octobre.csv", sep=";", decimal =",")

In [225]:
csv_1.head()

,N° Formulaire,Genre,Âge,Taille (m),Poids (kg),IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,Stress,Nb convives,Ami 1,Ami 2,Ami 3,Ami 4,Ami 5,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,2E8L,M,20.0,1.84,72.0,"21,26654064",Importante,Non,Non,Tous les jours ou presque,...,Plutôt non,4,2H8Q,2 Sans formulaire,NaN,NaN,NaN,NaN,NaN,NaN
1,6Z9V,M,19.0,1.75,79.0,"25,79591837",Faible,Oui,Non,Tous les jours ou presque,...,"Oui, très",NaN,N.A,Même groupe pour 4 N.A,NaN,NaN,NaN,NaN,NaN,NaN
2,1P5N,M,19.0,1.74,74.0,"24,44180209",Modérée,Oui,Non,Tous les jours ou presque,...,Plutôt oui,NaN,N.A,Même groupe pour 4 N.A,NaN,NaN,NaN,NaN,NaN,NaN
3,1L0F,M,21.0,1.70,51.0,"17,64705882",N.A,Oui,Non,Tous les jours ou presque,...,Plutôt oui,NaN,N.A,Même groupe pour 4 N.A,NaN,NaN,NaN,NaN,NaN,NaN
4,6U1H,M,18.0,1.78,71.0,"22,40878677",Modérée,Non,Non,Tous les jours ou presque,...,Plutôt non,NaN,N.A,Même groupe pour 4 N.A,NaN,NaN,NaN,NaN,NaN,NaN

In [226]:
csv_1.tail()

,N° Formulaire,Genre,Âge,Taille (m),Poids (kg),IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,...,Stress,Nb convives,Ami 1,Ami 2,Ami 3,Ami 4,Ami 5,Unnamed: 27,Unnamed: 28,Unnamed: 29
266,1T9W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,1W6X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,5O0Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,3R5P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,8K4B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Des lignes à la fin de chaque fichier csv n'ont pas été renseignée ou avec des annontations, il faut les enlever.

## Reduction du CSV aux données seules

On enlève les annotations en bas, les lignes non remplies en bas. On enlève de même les colonnes non remplies.

In [227]:
#print(csv_4.iloc[84, :])
#print(csv_1.iloc[:, :27].columns)

In [228]:
#on garde les lignes remplies des tableurs
csv_1 = csv_1.iloc[:135, :39]
csv_2 = csv_2.iloc[:69, :39]
csv_3 = csv_3.iloc[:169, :39]
csv_4 = csv_4.iloc[:85, :39]

## Concaténation des CSV pour les différents jours

In [229]:
print(csv_1.shape)
print(csv_2.shape)
print(csv_3.shape)
print(csv_4.shape)

(135, 30)
(69, 28)
(169, 39)
(85, 28)

In [230]:
#On rempli les csv pour qu'ils aient tous le même nombre de colonnes
#On s'alignes sur csv_3
Ami = pd.Series([np.NaN for _ in range(len(csv_1))])
csv_1 = pd.concat([csv_1, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami], axis = 1)

Ami = pd.Series([np.NaN for _ in range(len(csv_2))])
csv_2 = pd.concat([csv_2, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami], axis = 1)

Ami = pd.Series([np.NaN for _ in range(len(csv_4))])
csv_4 = pd.concat([csv_4, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami, Ami], axis = 1)

In [231]:
print(csv_1.shape)
print(csv_2.shape)
print(csv_3.shape)
print(csv_4.shape)
csv_3.columns

(135, 39)
(69, 39)
(169, 39)
(85, 39)

Index(['N° Formulaire', 'Genre ', 'Âge', 'Taille (m)', 'Poids (kg)', 'IMC',
       'Activité physique', 'Régime particulier', 'Végé', 'Fréquence CROUS ',
       'Equilibre alim', 'Seule ou En groupe', 'Nb groupe entrée', 'Proximité',
       'Connaissance', 'Parti groupe', 'Influ sociale', 'Percept senso',
       'Nb file', 'Faim', 'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3',
       'Ami 4', 'Ami 5', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38'],
      dtype='object')

In [232]:
csv_1.columns = ["N° Formulaire",'Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique',
       'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim',
       'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance',
       'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim',
       'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5', 
        'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12', 'Ami 13',
        'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17']
csv_2.columns = csv_1.columns
csv_3.columns = csv_1.columns
csv_4.columns = csv_1.columns

In [233]:
csv_tot = pd.concat([csv_1, csv_2,csv_3, csv_4])
csv_tot = csv_tot.set_index("N° Formulaire")

In [234]:
csv_tot.columns

Index(['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique',
       'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim',
       'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance',
       'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim',
       'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5',
       'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12',
       'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17'],
      dtype='object')

In [235]:
csv_tot.head()

,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,Equilibre alim,...,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
N° Formulaire,,,,,,,,,,,,,,,,,,,,,
2E8L,M,20.0,1.84,72.0,"21,26654064",Importante,Non,Non,Tous les jours ou presque,Moyennement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6Z9V,M,19.0,1.75,79.0,"25,79591837",Faible,Oui,Non,Tous les jours ou presque,Moyennement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1P5N,M,19.0,1.74,74.0,"24,44180209",Modérée,Oui,Non,Tous les jours ou presque,Moyennement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1L0F,M,21.0,1.70,51.0,"17,64705882",N.A,Oui,Non,Tous les jours ou presque,Moyennement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6U1H,M,18.0,1.78,71.0,"22,40878677",Modérée,Non,Non,Tous les jours ou presque,Moyennement,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Nettoyage des colonnes Amis

Laissé tel quel du code source d'Hippo

In [236]:
#on créé une regex qui va nous permettre de récupérer les codes des formations
#on peut aussi le faire avec cdette syntaxte :
# bool(re.match(regex, 'hello1'))

def KeepOnlyForm(x):
    regex = r"[0-9][A-Z][0-9][A-Z]"
    if type(x)== str:
        match = re.search(regex,x)
        if match != None:
            return match.string
        else:
            return pd.NA
    else:
        return pd.NA

In [237]:
# on selectionne les colonnes qui commencent par "Ami" (on garde maximum 5 amis)
col_amis = csv_tot.columns.str.startswith("Ami")
dfamis = csv_tot.loc[:,col_amis]

#toutes les valeurs qui ne sont pas des chaines de caractères sont remplacées par des Sandofour
dfamis = dfamis.applymap(KeepOnlyForm)

In [238]:
#onremplace les colonnes par les colonnes nettoyées
csv_tot.loc[:,col_amis] = dfamis
#on enleve les colonnes après la colonne "Ami 5"
csv_tot = csv_tot.iloc[:,:csv_tot.columns.get_loc("Ami 17")+1]

## Variables catégorielles binaires sont codées en 0 et 1

In [239]:
#on regarde quelles sont les variables binaires
print("Genre : ", csv_tot["Genre"].unique())
print("Végé : ", csv_tot["Végé"].unique())
print("Régime particulier : ", csv_tot["Régime particulier"].unique())
print("Proximité : ", csv_tot["Proximité"].unique())
print("Seule ou en groupe : ", csv_tot["Seule ou en groupe"].unique())
print("Connaissance : ", csv_tot["Connaissance"].unique())
print("Parti groupe : ", csv_tot["Parti groupe"].unique())

Genre :  ['M' 'F']
Végé :  ['Non' 'Oui' 'N.A' 'Non ']
Régime particulier :  ['Non' 'Oui' 'N.A']
Proximité :  ['Non' 'Oui' 'N.A']
Seule ou en groupe :  ['En groupe' 'Seule ' 'Seule' 'Groupe' 'Groupe ']
Connaissance :  ['Non' 'N.A' 'Oui' 'Non ']
Parti groupe :  ['N.A' 'Non' 'Oui']

In [240]:
csv_tot["Genre"] = csv_tot["Genre"].replace({"F":0, "M":1})
csv_tot["Végé"] = csv_tot["Végé"].replace({"Oui":1, "Non":0, "Non ":0})
csv_tot["Régime particulier"] = csv_tot["Régime particulier"].replace({"Oui":1, "Non":0})
csv_tot["Proximité"] = csv_tot["Proximité"].replace({"Oui":1, "Non":0})
csv_tot["Seule ou en groupe"] = csv_tot["Seule ou en groupe"].replace({"Seule":0, "En groupe":1, 'Seule ':0, 'Groupe':0, 'Groupe ':0})
csv_tot["Connaissance"] = csv_tot["Connaissance"].replace({"Oui":1, "Non":0, "Non ":0})
csv_tot["Régime particulier"] = csv_tot["Régime particulier"].replace({"Oui":1, "Non":0})
csv_tot["Parti groupe"] = csv_tot["Parti groupe"].replace({"Oui":1, "Non":0})

## Variable numérique

In [242]:
#print("Age : ", csv_tot["Age"].unique())
print("Taille : ", csv_tot["Taille"].unique())
#print("Poids : ", csv_tot["Poids"].unique())
#print("IMC : ", csv_tot["IMC"].unique())
print("Nb groupe entrée : ", csv_tot["Nb groupe entrée"].unique())
print("Nb convives : ", csv_tot["Nb convives"].unique())

Taille :  [  1.84    1.75    1.74    1.7     1.78    1.85    1.95    1.65    1.69
   1.82    1.6     1.8     1.79    1.63    1.67    1.62    1.87    1.72
   1.56    1.61    1.91    1.73    1.58    1.83    1.77    1.76    1.86
   1.71    1.68    1.755   1.94    1.89    1.9     1.64    1.53    1.92
   1.66    1.57    1.59    1.81    1.685   1.93  163.    157.      1.88
   1.585   1.96    1.48    1.55    1.705   1.54 ]
Nb groupe entrée :  [4.0 5.0 3.0 2.0 1.0 6.0 16.0 11.0 12.0 7.0 17.0 8.0 10.0 18.0 9.0 20.0
 13.0 15.0 '2' '1' '5' '6' '3' '10' '4' '7' '8' '12' '15' '27' 'N.A']
Nb convives :  ['4' nan '2' '1' '3' '5' '7' '2 ?' '8' '9' 2.0 6.0 3.0 5.0 7.0 '3 ? '
 '3 ?' 'N.A' '6' '10' '14']

In [245]:
#csv_tot["Taille"].iloc[np.where(csv_tot["Taille"]>=3)] = csv_tot["Taille"].iloc[np.where(csv_tot["Taille"]>=3)]/100
csv_tot["Taille"].loc[np.where(csv_tot["Taille"]>=3)] = csv_tot["Taille"].loc[np.where(csv_tot["Taille"]>=3)]/100

In [246]:
csv_tot["IMC"] = csv_tot["IMC"].replace(',', '.', regex = True).astype(float)
csv_tot["Nb convives"] = csv_tot["Nb convives"].replace(['\?', ' '],'', regex=True)

In [247]:
#print("IMC : ", csv_tot["IMC"].unique())
print("Nb convives : ", csv_tot["Nb convives"].unique())

Nb convives :  ['4' nan '2' '1' '3' '5' '7' '8' '9' 2.0 6.0 3.0 5.0 7.0 'N.A' '6' '10'
 '14']

## Suppression des colonnes inutiles

Pour l'instant on garde toutes les colonnes et on verra après si certaines ne sont pas utile.

In [248]:
#df1.drop(columns=["Fréquence CROUS"], inplace=True)
#df1.drop(columns=["Seule ou en groupe"], inplace=True)
#df1.drop(columns=["Connaissance"], inplace=True)
#df1.drop(columns=["Nb file"], inplace=True)
#df1.drop(columns=["Parti groupe"], inplace=True)

## Les variables catégorielles qui présente une relation d'odre sont traitées comme des variables numériques

### Fréquence de venue au CROUS

In [249]:
#on recupere les valeurs possibles de la colonne Fréquence CROUS
freqCROUS = csv_tot["Fréquence CROUS"].unique()
print(freqCROUS)

['Tous les jours ou presque' 'Au moins 1 fois par semaine'
 'Je viens pour la première fois' 'N.A' 'Tous les jours ou presque '
 'Au moins une fois par semaine']

In [250]:
#on remplace les valeurs de la colonne Stress par des valeurs numériques
csv_tot["Fréquence CROUS"] = csv_tot["Fréquence CROUS"].replace('Je viens pour la première fois', 0)
csv_tot["Fréquence CROUS"] = csv_tot["Fréquence CROUS"].replace('Au moins 1 fois par semaine', 1)
csv_tot["Fréquence CROUS"] = csv_tot["Fréquence CROUS"].replace('Au moins une fois par semaine', 1)
csv_tot["Fréquence CROUS"] = csv_tot["Fréquence CROUS"].replace('Tous les jours ou presque', 2)
csv_tot["Fréquence CROUS"] = csv_tot["Fréquence CROUS"].replace('Tous les jours ou presque ', 2)

In [251]:
print(csv_tot["Fréquence CROUS"].unique())

[2 1 0 'N.A']

### Influence du nombre de personnes dans la file

In [252]:
#on recupere les valeurs possibles de la colonne Nb File
NbFile = csv_tot["Nb file"].unique()
print(NbFile)

['Non, je ne sais pas' 'Non, pas trop' 'Non, je ne pense pas'
 'Non,pas trop' 'Plutôt oui' 'Oui,tout à fait' 'Non, je ne pense pas '
 'Oui, tout à fait' 'N.A' 'Oui, tout à fait ']

In [253]:
#on remplace les valeurs de la colonne Stress par des valeurs numériques
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Non, je ne sais pas', 0)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Non, pas trop', 0)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Non, je ne pense pas', 0)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Non,pas trop', 0)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Non, je ne pense pas ', 0)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Plutôt oui', 1)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Oui,tout à fait', 2)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Oui, tout à fait', 2)
csv_tot["Nb file"] = csv_tot["Nb file"].replace('Oui, tout à fait ', 2)

In [254]:
print(csv_tot["Nb file"].unique())

[0 1 2 'N.A']

### Stress

In [255]:
#on recupere les valeurs possibles de la colonne stress
stress = csv_tot["Stress"].unique()
print(stress)

['Plutôt non' 'Oui, très' 'Plutôt oui' 'Non' 'N.A' 'Oui, très ']

In [256]:
#on remplace les valeurs de la colonne Stress par des valeurs numériques
csv_tot["Stress"] = csv_tot["Stress"].replace("Non", 0)
csv_tot["Stress"] = csv_tot["Stress"].replace("Plutôt non", 1)
csv_tot["Stress"] = csv_tot["Stress"].replace("Plutôt oui", 2)
csv_tot["Stress"] = csv_tot["Stress"].replace("Oui, très", 3)
csv_tot["Stress"] = csv_tot["Stress"].replace("Oui, très ", 3)

#csv_tot["Stress"] = csv_tot["Stress"].replace("N.A", 1.5) #on remplace les valeurs manquantes par la moyenne ?
#on normalise par moyenne et variance la colonne stress
#df1["Stress"] = (df1["Stress"] - df1["Stress"].mean())/df1["Stress"].std()

In [257]:
print(csv_tot["Stress"].unique())

[1 3 2 0 'N.A']

### Faim

In [258]:
#on recupere les valeurs possibles de la colonne stress
faim = csv_tot["Faim"].unique()
print(faim)

['Oui,assez faim' 'Oui, très faim' 'Oui, assez faim faim'
 'Oui, mais très peu' 'Oui,très faim' 'Non' 'Oui, assez faim'
 'Oui, assez faim ' 'N.A']

In [259]:
#on remplace les valeurs de la colonne Faim par des valeurs numériques
csv_tot["Faim"] = csv_tot["Faim"].replace('Non', 0)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui, mais très peu', 1)
csv_tot["Faim"] = csv_tot["Faim"].replace("Oui,assez faim", 2)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui, assez faim faim', 2)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui, assez faim', 2)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui, assez faim ', 2)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui,très faim', 3)
csv_tot["Faim"] = csv_tot["Faim"].replace('Oui, très faim', 3)

#csv_tot["Faim"] = csv_tot["Faim"].replace('N.A', 1.5) #on remplace les valeurs manquantes par la moyenne ??
#on normalise par moyenne et variance la colonne faim 
#csv_tot["Faim"] = (csv_tot["Faim"] - csv_tot["Faim"].mean())/csv_tot["Faim"].std()

In [260]:
print(csv_tot["Faim"].unique())

[2 3 1 0 'N.A']

### Activité physique

In [261]:
#on recupere les valeurs possibles de la colonne Activité physique
activite = csv_tot["Activité physique"].unique()
print(activite)

['Importante' 'Faible' 'Modérée' 'N.A' 'Aucune' 'Aucune ']

In [262]:
#on remplace les valeurs de la colonne Activité physique par des valeurs numériques
csv_tot["Activité physique"] = csv_tot["Activité physique"].replace('Aucune', 0)
csv_tot["Activité physique"] = csv_tot["Activité physique"].replace('Aucune ', 0)
csv_tot["Activité physique"] = csv_tot["Activité physique"].replace("Faible", 1)
csv_tot["Activité physique"] = csv_tot["Activité physique"].replace('Modérée', 2)
csv_tot["Activité physique"] = csv_tot["Activité physique"].replace('Importante', 3)

#csv_tot["Activité physique"] = csv_tot["Activité physique"].replace("N.A", 1.5) #on remplace les valeurs manquantes par la moyenne ??
#on normalise par moyenne et variance la colonne Activité physique 
#csv_tot["Activité physique"] = (csv_tot["Activité physique"] - csv_tot["Activité physique"].mean())/csv_tot["Activité physique"].std()

In [263]:
print(csv_tot["Activité physique"].unique())

[3 1 2 'N.A' 0]

### Perception sensorielle

In [264]:
#on recupere les valeurs possibles de la colonne Activité physique
senso = csv_tot["Percept senso"].unique()
print(senso)

['Moyennement influencé' 'Peu influencé' 'Pas influencé' 'Très influencé'
 'Pas influencé ' 'N.A' 'Pas inflencé']

In [265]:
#on remplace les valeurs de la colonne Activité physique par des valeurs numériques
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Pas influencé', 0)
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Pas influencé ', 0)
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Pas inflencé', 0)
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Peu influencé', 1)
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Moyennement influencé', 2)
csv_tot["Percept senso"] = csv_tot["Percept senso"].replace('Très influencé', 3)

#csv_tot["Percept senso"] = csv_tot["Percept senso"].replace("N.A", 1.5) #on remplace les valeurs manquantes par la moyenne ??
#on normalise par moyenne et variance la colonne Activité physique 
#csv_tot["Percept senso"] = (csv_tot["Percept senso"] - csv_tot["Percept senso"].mean())/csv_tot["Percept senso"].std()

In [266]:
print(csv_tot["Percept senso"].unique())

[2 1 0 3 'N.A']

### Influence sociale

In [267]:
#on recupere les valeurs possibles de la colonne Activité physique
influ = csv_tot["Influ sociale"].unique()
print(influ)

['Pas influencé' 'Peu influencé' 'Moyennement influencé' 'Très influencé'
 'Moyennement influencé ' 'Pas influencé ' 'N.A' nan]

In [268]:
# #on remplace les valeurs de la colonne Activité physique par des valeurs numériques
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Pas influencé', 0)
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Pas influencé ', 0)
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Peu influencé', 1)
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Moyennement influencé', 2)
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Moyennement influencé ', 2)
csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace('Très influencé', 3)

csv_tot["Influ sociale"] = csv_tot["Influ sociale"].fillna('N.A')

#csv_tot["Influ sociale"] = csv_tot["Influ sociale"].replace("N.A", 1.5) #on remplace les valeurs manquantes par la moyenne ??
# #on normalise par moyenne et variance la colonne Activité physique 
#csv_tot["Influ sociale"] = (csv_tot["Influ sociale"] - csv_tot["Influ sociale"].mean())/csv_tot["Influ sociale"].std()

In [269]:
print(csv_tot["Influ sociale"].unique())

[0 1 2 3 'N.A']

### Equilibre alimentaire

In [270]:
#on recupere les valeurs possibles de la colonne Activité physique
equilibre = csv_tot["Equilibre alim"].unique()
print(equilibre)

['Moyennement' 'Un peu' 'Très attention' 'Manger équilibré' 'Pas du tout'
 'N.A' 'Un peu ' 'Moyennement ']

In [271]:
#on remplace les valeurs de la colonne Activité physique par des valeurs numériques
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Pas du tout', 0)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Un peu', 1)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Un peu ', 1)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Moyennement', 2)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Moyennement ', 2)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Manger équilibré', 3)
csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace('Très attention', 4)

#csv_tot["Equilibre alim"] = csv_tot["Equilibre alim"].replace("N.A", 2) #on remplace les valeurs manquantes par la moyenne ??
#on normalise par moyenne et variance la colonne Activité physique 
#csv_tot["Equilibre alim"] = (csv_tot["Equilibre alim"] - csv_tot["Equilibre alim"].mean())/csv_tot["Equilibre alim"].std()

In [272]:
print(csv_tot["Equilibre alim"].unique())

[2 1 4 3 0 'N.A']

## Variables string (Ami)

In [273]:
print(csv_tot["Ami 7"].unique())

[<NA> '3M5G' '7N7F' '7U3T' '6T9D' '0G2I' '8F9H' '6E9U' '6T9B' '8O3V'
 '4H1P' '1O2T' '9M5B' '7N0N' '1A9V' '1S8D' '1W7I' '5Q1R' '1R9D']

In [274]:
csv_tot["Ami 1"] = csv_tot["Ami 1"].replace(['\?', ' '],'', regex=True).astype(str)
csv_tot["Ami 2"] = csv_tot["Ami 2"].replace(['\?', ' '],'', regex=True).astype(str)
csv_tot["Ami 3"] = csv_tot["Ami 3"].replace(['\?', ' '],'', regex=True).astype(str)
csv_tot["Ami 4"] = csv_tot["Ami 4"].replace(['\?', ' '],'', regex=True).astype(str)
csv_tot["Ami 5"] = csv_tot["Ami 5"].replace(['\?', ' '],'', regex=True).astype(str)

#for k in range(1,18):
#    csv_tot[f"Ami {k}"] = csv_tot[f"Ami {k}"].replace(['\?', ' '],'', regex=True).astype(str)

## Que fait-on des N.A relou ?

Pour l'instant je les remplace par la médiane pour toutes les variables.

In [275]:
csv_tot = csv_tot.replace('N.A', np.NaN, regex=True)
csv_tot = csv_tot.replace('<NA>', np.NaN, regex=True)
csv_tot = csv_tot.replace(np.nan, np.NaN, regex=True)
csv_tot = csv_tot.replace(pd.NA, np.NaN, regex=True)
csv_tot = csv_tot.replace('', np.NaN, regex=True)

In [276]:
csv_tot.columns

Index(['Genre', 'Age', 'Taille', 'Poids', 'IMC', 'Activité physique',
       'Régime particulier', 'Végé', 'Fréquence CROUS', 'Equilibre alim',
       'Seule ou en groupe', 'Nb groupe entrée', 'Proximité', 'Connaissance',
       'Parti groupe', 'Influ sociale', 'Percept senso', 'Nb file', 'Faim',
       'Stress', 'Nb convives', 'Ami 1', 'Ami 2', 'Ami 3', 'Ami 4', 'Ami 5',
       'Ami 6', 'Ami 7', 'Ami 8', 'Ami 9', 'Ami 10', 'Ami 11', 'Ami 12',
       'Ami 13', 'Ami 14', 'Ami 15', 'Ami 16', 'Ami 17'],
      dtype='object')

In [277]:
csv_tot.dtypes

Genre                   int64
Age                   float64
Taille                float64
Poids                 float64
IMC                   float64
Activité physique     float64
Régime particulier    float64
Végé                  float64
Fréquence CROUS       float64
Equilibre alim        float64
Seule ou en groupe      int64
Nb groupe entrée       object
Proximité             float64
Connaissance          float64
Parti groupe          float64
Influ sociale         float64
Percept senso         float64
Nb file               float64
Faim                  float64
Stress                float64
Nb convives            object
Ami 1                  object
Ami 2                  object
Ami 3                  object
Ami 4                  object
Ami 5                  object
Ami 6                  object
Ami 7                  object
Ami 8                  object
Ami 9                  object
Ami 10                 object
Ami 11                 object
Ami 12                 object
Ami 13                 object
Ami 14                float64
Ami 15                float64
Ami 16                float64
Ami 17                float64
dtype: object

In [278]:
csv_tot = csv_tot.astype({'Genre':int, 'Age':int, 'Taille':float, 'Poids':float, 'IMC':float, 'Activité physique':int,
       'Régime particulier':int, 'Végé':int, 'Fréquence CROUS':int, 'Equilibre alim':int,
       'Seule ou en groupe':int, 'Nb groupe entrée':float, 'Proximité':int, 'Connaissance':int,
       'Parti groupe':int, 'Influ sociale':int, 'Percept senso':int, 'Nb file':int, 'Faim':int,
       'Stress':int, 'Nb convives':int, 'Ami 1':str, 'Ami 2':str, 'Ami 3':str, 'Ami 4':str, 'Ami 5':str,
       'Ami 6':str, 'Ami 7':str, 'Ami 8':str, 'Ami 8':str, 'Ami 10':str, 'Ami 11':str, 'Ami 12':str, 
       'Ami 13':str, 'Ami 14':str, 'Ami 15':str, 'Ami 16':str, 'Ami 17':str}, errors = 'ignore')

In [279]:
median = csv_tot.median(skipna = True)
len(csv_tot.median(skipna = True))

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.
C:\Anaconda\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

25

In [280]:
for variable in csv_tot.columns[:21] :
    csv_tot[variable] = csv_tot[variable].fillna(median[variable])

In [281]:
csv_tot = csv_tot.astype({'Genre':int, 'Age':int, 'Taille':float, 'Poids':float, 'IMC':float, 'Activité physique':int,
       'Régime particulier':int, 'Végé':int, 'Fréquence CROUS':int, 'Equilibre alim':int,
       'Seule ou en groupe':int, 'Nb groupe entrée':float, 'Proximité':int, 'Connaissance':int,
       'Parti groupe':int, 'Influ sociale':int, 'Percept senso':int, 'Nb file':int, 'Faim':int,
       'Stress':int, 'Nb convives':int, 'Ami 1':str, 'Ami 2':str, 'Ami 3':str, 'Ami 4':str, 'Ami 5':str})

In [282]:
csv_tot

,Genre,Age,Taille,Poids,IMC,Activité physique,Régime particulier,Végé,Fréquence CROUS,Equilibre alim,...,Ami 8,Ami 9,Ami 10,Ami 11,Ami 12,Ami 13,Ami 14,Ami 15,Ami 16,Ami 17
N° Formulaire,,,,,,,,,,,,,,,,,,,,,
2E8L,1,20,1.84,72.0,21.266541,3,0,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
6Z9V,1,19,1.75,79.0,25.795918,1,1,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
1P5N,1,19,1.74,74.0,24.441802,2,1,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
1L0F,1,21,1.70,51.0,17.647059,2,1,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
6U1H,1,18,1.78,71.0,22.408787,2,0,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2Z9A,1,19,1.82,70.0,21.132713,3,0,0,1,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
6S8Q,0,21,1.75,60.0,19.591837,2,0,0,2,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
7B7K,0,25,1.54,75.0,31.624220,1,0,0,2,2,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
6X9F,1,28,1.75,75.0,24.489796,1,0,0,2,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan
9B8H,1,20,1.80,80.0,24.691358,2,0,0,2,4,...,nan,NaN,nan,nan,nan,nan,nan,nan,nan,nan

## Sauvegarde du formulaire

In [283]:
csv_tot.to_csv("Merged_Formulaires.csv", encoding='latin1')